<div class="grid_24">
    <ul class="nav clearfix">
        <li class="nav-item nav-item-home"><a class="nav-item-link" href="/">首页</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/ershou/">物品交易</a></li>
        <li class="nav-item nav-item-hover"><a class="nav-item-link" href="/cheliang/">车辆买卖</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/fang/">房屋租售</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/gongzuo/">全职招聘</a></li>
        <li class="nav-item nav-item-current"><a class="nav-item-link" href="/jianzhi/">兼职招聘</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/qiuzhi/">求职简历</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/huodong/">交友活动</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/chongwuleimu/">宠物</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/fuwu/">生活服务</a></li>
        <li class="nav-item"><a class="nav-item-link" href="/jiaoyupeixun/">教育培训</a></li>
    </ul>
</div>
