<div class="alert_tips_frames_dm" id="alerts_fra_wks" style="position: absolute; background: none;">
    <div class="inner_atfd_wks" id="alerts_fra_wks_in">
        <a href="javascript:void(0)" onclick="document.getElementById('alerts_fra_wks').style.display='none'" class="close_btn_r_d_off" onmouseover="this.className='close_btn_r_d_on'" onmouseout="this.className='close_btn_r_d_off'" title="关闭"></a>
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("alert_top_icons.png")" class="ai_tops_img" />
        <div class="ai_conts">
            <div class="tops_tips_words">给对方留言</div>
            <div class="inputs_wks_d_m">
                <textarea id="privatetxt"></textarea>
                <div class="btn_submits_d">
                    <input class="oo_off" type="submit" value="提 交"  onmouseover="this.className='oo_on'" onclick="AjaxBase.AjaxPrivateMessage();document.getElementById('alerts_fra_wks').style.display='none';" onmouseout="this.className='oo_off'" /></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        picclick();
        if ($("#tip").val() != "") {
            alert($("#tip").val());
        }
        $("#demoBtn1").click(function () {
            easyDialog.open({
                container: {
                    header: '联系方式',
                    content: '您要联系人的邮箱是：' + document.getElementById('email').value
                },
                drag: true
            });
        });
    });
</script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>