<appSettings>
	<add key="webpages:Version" value="1.0.0.0"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<add key="JavaScriptDomain" value="http://javascript.yingtao.co.uk/"></add>
	<add key="CssDomain" value="http://css.yingtao.co.uk/"></add>
	<add key="ImageDomain" value="http://image.yingtao.co.uk/"></add>
	
	<add key="PictureMIME" value="jpg|jpeg|png|gif|bmp"/>



	<!--FxTask-->
	<add key="TaskShutDown" value="false"/>
	<!--任务是否停止 用于下线发布-->
	<add key="OwnSiteUrl" value="http://localhost:41172/"/>
	<!--http://jobtask.yingtao.co.uk-->
	<add key="YingTaoUrl" value="http://yingtao.co.uk"/>
	<add key="InfoFilterKeys" value="操,王八,十八大"/>
	<!--CDN图片文件夹的物理路径-->
	<add key="CdnPath" value="D:\JobImage\"/>
	<!--D:\hosting\9992249\html\imagecdn\-->
	<add key="WriteInnerInfo" value="true"/>
	<add key="WriteInnerInfoPath" value="D:\JobTxt\FxTaskInner.log"/>


	<!--Login-->
	<add key="FormDomain" value=".yingtao.co.uk"/>
</appSettings>
