<appSettings>
	<add key="webpages:Version" value="1.0.0.0"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<add key="JavaScriptDomain" value="http://localhost:8282/"></add>
	<add key="CssDomain" value="http://localhost:8181/"></add>
	<add key="ImageDomain" value="http://localhost:8383/"></add>
	<add key="PictureMIME" value="jpg|jpeg|png|gif|bmp"/>
</appSettings>
