<connectionStrings>
	<add name="fx.goods-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=FxGoods;User ID=sa; Password=sa"/>
	<add name="fx.car-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=FxCar;User ID=sa; Password=sa"/>
	<add name="fx.house-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=FxHouse;User ID=sa; Password=sa"/>
	<add name="fx.aggregate-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=FxAggregate;User ID=sa; Password=sa"/>

	<add name="elmah-sqlserver"   providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fxdbone;User ID=sa; Password=sa"/>
	<add name="fx.site-sqlserver"   providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fxdbone;User ID=sa; Password=sa"/>

	<add name="fx.goods-mysql" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;User Id=root;password=1234;database=FxGoods"/>
	<add name="fx.car-mysql" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;User Id=root;password=1234;database=FxCar"/>
	<add name="fx.house-mysql" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;User Id=root;password=1234;database=FxHouse"/>
	<add name="fx.aggregate-mysql" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;User Id=root;password=1234;database=FxAggregate"/>
</connectionStrings>
