<connectionStrings>
	<add name="fx.userdb" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fx.userdb;Integrated Security=True"/>
	<add name="fx.site" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fx.site;Integrated Security=True"/>
	<add name="fx.car" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fx.car;Integrated Security=True"/>
	<add name="fx.house" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fx.house;Integrated Security=True"/>
	<add name="fx.goods" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fx.goods;Integrated Security=True"/>
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Fx.InformationPlatform.Site-20121013215011;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Fx.InformationPlatform.Site-20121013215011.mdf" />
	<add name="elmah-sqlserver"   providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fxdbone;Integrated Security=True"/>
	<add name="fxdbone-sqlserver"   providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=fxdbone;Integrated Security=True"/>
</connectionStrings>
