@{
    ViewBag.Title = "待发布信息";
}

<input id="tabShow" type="hidden" value="0" />
@Html.Partial("Partial/Test")

<div class="grid_24" style="height: 500px">
    <div class="grid_4 well alpha" style="padding: 20px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">另一个列表头</li>
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">类库</a></li>
            <li><a href="#">应用</a></li>
            <li class="nav-header">另一个列表头</li>
            <li><a href="#">介绍</a></li>
            <li><a href="#">设置</a></li>
            <li class="divider"></li>
            <li><a href="#">帮助</a></li>
        </ul>
    </div>
    <div class="grid_19 omega">
        <div style="border: 1px solid #8A0018; height: 253px;">
            &nbsp;
        </div>
    </div>
</div>







@*<div class="grid_24" style="height: 600px; padding: 20px 0;">
    <div class="grid_24">
        <div class="grid_6">
            <ul>
                <li>获取二手转让信息</li>
                <li>获取二手求购信息</li>
                <li>获取汽车转让信息</li>
                <li>获取汽车求购信息</li>
                <li>获取房屋转让信息</li>
                <li>获取房屋求购信息</li>
            </ul>
        </div>

    </div>


    <div class="grid_24">
        <div class="grid_4 alpha">
        </div>
        <div class="grid_4">
        </div>
        <div class="grid_4">
        </div>
        <div class="grid_4">
        </div>
        <div class="grid_4">
        </div>
        <div class="grid_4 omega">
        </div>
    </div>
    <div class="grid_24">
        <div style="border-bottom: 1px dotted grey; height: 10px;">&nbsp;</div>
    </div>



</div>*@
