<div class="grid_24">
    <div class="grid_3 alpha">
        <img class="list_left_img_demo_tit" src="images/goods.png">
    </div>
    <div class="grid_21 omega" style="text-align: left; float: right;">
        <div class="topLoop" id="sliders_1" style="width: 830px; height: 243px;">
            <div class="hd" style="width: 40px; height: 243px; left: 3px;">
                <a class="next" style="margin-top: 65px;"></a>
                <a class="prev"></a>
            </div>
            <div class="bd" style="width: 790px; position: relative; left: 40px; top: 0px; border: 0px; padding: 0px; height: 243px;">
                <div class="tempWrap" style="overflow: hidden; position: relative; height: 243px">
                    <ul class="picList" style="float: none; height: 2187px; padding: 0px; position: relative; margin: 0px; top: -729px;">
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="Content/images/tss2.png"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/9.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/11.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/7.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/8.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/10.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/11.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/tss2.png"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/8.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/20.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/3.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/5.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/tss2.png"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/9.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/11.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/7.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/8.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/10.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/11.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/tss2.png"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/8.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/20.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/3.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/5.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/tss2.png"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/9.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/11.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/7.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/8.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/10.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/11.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/tss2.png"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/8.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/20.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/3.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    <a href="#" class="tops_aa_imgs_kk">
                                        <img src="images/5.jpg"></a>
                                    <div class="tits_btm_coms_list names_btm"><a href="#">价格 名称</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
