<div class="grid_6 omega">
    <div class="grid_6 alpha omega height_30"
        style="background-color: #800000; color: white; font-size: 14px; text-align: left; height: 29px; line-height: 29px;">
        &nbsp;&nbsp;&nbsp;&nbsp;物品分类
    </div>
    <div class="clear"></div>
    <div class="right_nav_category">
        <div class="fix_ie6_rit_border" id="fix_ie6_brders"></div>
        <ul style="margin-left: 0px;" class="inners_r_list_con" id="Right_Alert_Nav_List">
            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">商业用房</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/HouseTransferSearch/Shop/1" target="_blank">展销商铺</a></span>
                        <span><a href="/HouseTransferSearch/Restaurants/1" target="_blank">饮食商铺</a></span>
                        <span><a href="/HouseTransferSearch/Office/1" target="_blank">办公室</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/HouseTransferSearch/Shop/1" target="_blank">展销商铺</a></span>
                                <span><a href="/HouseTransferSearch/Restaurants/1" target="_blank">饮食商铺</a></span>
                                <span><a href="/HouseTransferSearch/Office/1" target="_blank">办公室</a></span>
                                <span><a href="/HouseTransferSearch/Warehouse/1" target="_blank">仓库</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/HouseBuySearch/Shop/1" target="_blank">展销商铺</a></span>
                                <span><a href="/HouseBuySearch/Restaurants/1" target="_blank">饮食商铺</a></span>
                                <span><a href="/HouseBuySearch/Warehouse/1" target="_blank">仓库</a></span>
                                <span><a href="/HouseBuySearch/Office/1" target="_blank">办公室</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">居住用房</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/HouseTransferSearch/House/1" target="_blank">House</a></span>
                        <span><a href="/HouseTransferSearch/Flat/1" target="_blank">Flat</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/HouseTransferSearch/House/1" target="_blank">House</a></span>
                                <span><a href="/HouseTransferSearch/Flat/1" target="_blank">Flat</a></span>
                                <span><a href="/HouseTransferSearch/StudentAparment/1" target="_blank">学生公寓</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>


                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/HouseBuySearch/House/1" target="_blank">House</a></span>
                                <span><a href="/HouseBuySearch/Flat/1" target="_blank">Flat</a></span>
                                <span><a href="/HouseBuySearch/StudentAparment/1" target="_blank">学生公寓</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
