<div class="grid_24">
    <div class="grid_7">&nbsp;</div>
    <div class="grid_2 center"><a href="#">关于英淘</a></div>
    <div class="grid_2 center"><a href="#">联系我们</a></div>
    <div class="grid_2 center"><a href="#">Disclaimer</a></div>
    <div class="grid_2 center"><a href="#">Privacy</a></div>
    <div class="grid_2 center"><a href="#">友情链接</a></div>
    <div class="grid_7">&nbsp;</div>
</div>
