<div class="grid_24 bottom">
    <a href="#">关于英淘</a>
    <a href="#">联系我们</a>
    @Html.ActionLink("Disclaimer", "Convention", "PageLink")
    @Html.ActionLink("Privacy", "Privacy", "PageLink")
    <a href="#">友情链接</a>
</div>

<style type="text/css">
    .bottom {
    line-height: 30px;
    background-color: #9d261d;
    height: 30px;
    text-align: center;
}

    .bottom a {
        font-size: 12px;
        color: white;
        font-family: 微软雅黑;
        margin-right: 25px;
    }

        .bottom a:hover {
            text-decoration: underline;
        }
</style>