@*<div style="height: 100px; background-color: #93062F; padding-top: 100px;"
    id="ytfooter">
    <div class="container_24">
        <div class="grid_24">
            <div class="grid_7">&nbsp;</div>
            <div class="grid_2 txtcenter"><a href="#">关于英淘</a></div>
            <div class="grid_2 txtcenter"><a href="#">联系我们</a></div>
            <div class="grid_2 txtcenter"><a href="#">Disclaimer</a></div>
            <div class="grid_2 txtcenter"><a href="#">Privacy</a></div>
            <div class="grid_2 txtcenter"><a href="#">友情链接</a></div>
            <div class="grid_7">&nbsp;</div>
        </div>
    </div>
</div>*@

<div class="grid_24 bottom">
    <a href="#">关于英淘</a>
    <a href="#">联系我们</a>
    @Html.ActionLink("Disclaimer", "Convention", "PageLink")
    @Html.ActionLink("Privacy", "Privacy", "PageLink")
    <a href="#">友情链接</a>
</div>
