<!--logo和搜索框-->
<form>
<div class="grid_24">
    <div class="grid_8 alpha">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("logobig.png")" width="290" height="98"  />
    </div>
    <div class="grid_16 omega">
        <div>
            <div class="searchcenter navbar-search pull-left form form-search" style="padding-top:35px;">
                <input type="text" class="search-query" placeholder="Search">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" id="logochose">二手物品</button>
                    <button class="btn btn-success">查找</button>
                    <ul id="searchmenu" class="dropdown-menu" style="margin-left: -60px">
                        <li><a href="#">二手物品</a></li>
                        <li><a href="#">汽车交易</a></li>
                        <li><a href="#">房屋租赁</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#logochose').dropdown();
        $("#searchmenu li a").each(function () {
            $(this).click(function (index, dom) {
                $("#logochose").text($(this).text());
            });
        });
    });
</script>

