<!--logo和搜索框-->
<div class="grid_24 ">
    <div class="grid_8 alpha">
        <img src="/Content/images/logo.jpg" width="220" height="120" />
    </div>
    <div class="grid_16 omega">
        <div class="searchcenter">
            <form action="/root/" class="form form-search">
            <input title="请输入类别名字或者关键字" placeholder="请输入类别名字或者关键字" class="form-input" />
            <div class="form-select">
                <span class="form-select-selected" >全站搜索</span>
                <ul class="form-select-menu">
                    <li data-action="/root/">全站搜索</li>
                    <li data-action="/ershou/">物品交易</li>
                    <li data-action="/cheliang/">车辆买卖</li>
                    <li data-action="/fang/">房屋租售</li>
                </ul>
            </div>
            <input type="submit" value="搜索" class="form-submit button button-grey" />
            </form>
            <!-- .form -->
        </div>
    </div>
</div>

<style type="text/css">
    .searchcenter {
        padding-top: 50px;
    }
</style>
