<div class="grid_24">
    <ul class="nav clearfix">
        <li class="nav-item nav-item-current"><a class="nav-item-link" href="#">首页</a></li>
        <li class="nav-item"><a class="nav-item-link" href="#">二手交易</a></li>
        <li class="nav-item nav-item-hover"><a class="nav-item-link" href="/cheliang/">车辆买卖</a></li>
        <li class="nav-item"><a class="nav-item-link" href="#">房屋租售</a></li>
    </ul>
</div>
