@*<div class="grid_24">
    <div class="grid_3 alpha"><a href="#" class="orange">物品交易</a></div>
    <div class="grid_3"><a href="#" class="orange">汽车交易</a></div>
    <div class="grid_3 omega"><a href="#" class="orange">房屋交易</a></div>
</div>*@



<div class="grid_24" id="nav_wk">
    <a href="#">物品交易</a>
    <a href="#">汽车交易</a>
    <a href="#">房屋交易</a>
</div>
<div class="clear"></div>
