<div class="ytbg" style="line-height: 8px;">&nbsp;</div>
<div id="topbar">
    <div class="container_24">
        <div class="grid_24">
            @if (!Request.IsAuthenticated)
            { 
                <div class="topbar">
                    <div>
                        <div class="grid_20">&nbsp;</div>
                        <div class="yuan grid_2 alpha txtcenter" style="line-height: 70px;">@Html.ActionLink("注册", "Register", "Account")</div>
                        <div class="yuan grid_2 omega txtcenter" style="line-height: 70px; margin-top: 10px;">@Html.ActionLink("登录", "Login", "Account")</div>
                    </div>
                </div>
            }
            else
            {                
                <div class="topbar">
                    <div>
                        <div class="grid_12">&nbsp;</div>
                        <div class="grid_6 alpha txtright">
                            <span class="topbar-right-text">欢迎，@User.Identity.Name</span>
                        </div>
                        <div class="yuan grid_2 txtcenter" style="line-height: 70px; margin-top: 20px;"><a href="http://usercenter.yingtao.co.uk/" target="_blank">我的英淘网</a></div>
                        <div class="yuan grid_2 omega txtcenter" style="line-height: 70px; margin-top: 10px;"><a href="http://usercenter.yingtao.co.uk/UserCenter/Favortie" target="_blank">我的收藏</a></div>
                        <div class="yuan grid_2 txtcenter" style="line-height: 70px;">
                            @Html.ActionLink("退出", "LoginOff", "Account")
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="clear"></div>
    </div>
</div>




@*<div class="grid_24">
    <div class="grid_2 omega" style="float: right;"><span class="logo_reg_mem"><a href="#">登陆</a></span></div>
    <div class="grid_2" style="float: right;"><span class="logo_reg_mem"><a href="#">注册</a></span></div>
    <div class="grid_2" style="float: right;"><span class="logo_reg_mem"><a href="#">我的英淘网</a></span></div>
    <div class="clear"></div>
</div>
*@