

@*
<div class="grid_24">
    <ul class="nav clearfix">
        <li class="nav-item nav-item-current"><a class="nav-item-link" href="#">首页</a></li>
        <li class="nav-item"><a class="nav-item-link" href="#">二手交易</a></li>
        <li class="nav-item nav-item-hover"><a class="nav-item-link" href="/cheliang/">车辆买卖</a></li>
        <li class="nav-item"><a class="nav-item-link" href="#">房屋租售</a></li>
    </ul>
</div>
*@


<div class="grid_24">
    <div class="grid_3 alpha"><a href="#" class="orange">物品交易</a></div>
    <div class="grid_3"><a href="#" class="orange">汽车交易</a></div>
    <div class="grid_3 omega"><a href="#" class="orange">物品交易</a></div>
</div>
