@{
    ViewBag.Title = "【英淘网】 -免费发布信息-英国汽车,二手,房屋信息门户";
}



<div class="grid_24">
    <div class="grid_10 alpha" style="padding: 40px 0;">
        <img src="../../Content/images/左广390_250.png" />
    </div>

    <div class="grid_10" style="padding: 40px 0;">
        <img src="../../Content/images/左广390_250.png" />
    </div>

    <div class="grid_4 omega">
        @*  <div style="border: 1px solid red;">&nbsp;</div>*@
        <div><a href="#" class="orange txtright">发布信息</a></div>
        <div>
            <a>
                <img src="../../Content/images/goods.png" width="125" height="125" /></a>
        </div>
        <div>
            <a>
                <img src="../../Content/images/car.png" width="125" height="125" /></a>
        </div>
    </div>
</div>


<!--物品交易-->
<div class="grid_24">
    <div class="grid_5 alpha">
        <div style="border-left: 1px solid red; border-right: 1px solid red;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div style="padding-top: 20px; padding-left: 20px;">
                <img src="../../Content/images/goods.png" />
            </div>

            <div style="padding: 10px 0;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    数码产品
                </div>
                @*<div style="padding: 10px 0;">
                    <a href="#" class="yta">手机</a>
                    <a href="#" class="yta">电脑</a>
                    <a href="#" class="yta">游戏配件</a>
                </div>
                <div style="padding: 10px 0;">
                    <a href="#" class="ytared">游戏</a>
                    <a href="#" class="yta">游戏机配件</a>
                </div>*@
                <div class="buttonwrapper" style="padding: 10px 0;">
                    <a class="ovalbutton blue" href="#"><span>手机</span></a>
                    <a class="ovalbutton blue" href="#"><span>电脑</span></a>
                    <a class="ovalbutton blue" href="#"><span>游戏配件</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="redbutton red" href="#"><span>游戏机</span></a>
                    <a class="redbutton red" href="#"><span>游戏配件</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="ovalbutton blue" href="#"><span>数码摄像器材</span></a>
                    <a class="ovalbutton blue" href="#"><span>手机配件</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="redbutton red" href="#"><span>其他</span></a>
                </div>
            </div>

            <div style="padding: 10px 0;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    居家产品
                </div>
                <div class="buttonwrapper" style="padding: 10px 0;">
                    <a class="greenbutton green" href="#"><span>厨房家电</span></a>
                    <a class="orangebutton orange" href="#"><span>视听家电</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="greenbutton green" href="#"><span>餐厅/厨具</span></a>
                    <a class="ovalbutton blue" href="#"><span>工艺品/摆设</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="orangebutton orange" href="#"><span>其他家电</span></a>
                    <a class="redbutton red" href="#"><span>运动器材</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="ovalbutton blue" href="#"><span>家具</span></a>
                </div>
            </div>

            <div style="padding: 10px 0;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    衣服产品
                </div>
                <div class="buttonwrapper" style="padding: 10px;">
                    <a class="greenbutton green" href="#"><span>衣服</span></a>
                    <a class="ovalbutton blue" href="#"><span>鞋子</span></a>
                    <a class="orangebutton orange" href="#"><span>箱包</span></a>
                </div>

                <div class="buttonwrapper" style="padding: 0 0 10px 10px;">
                    <a class="redbutton red" href="#"><span>首饰</span></a>
                </div>
            </div>

            <div style="padding: 10px 0;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    文化产品
                </div>


                <div class="buttonwrapper" style="padding: 10px;">
                    <a class="graybutton gray" href="#"><span>文化</span></a>
                    <a class="graybutton gray" href="#"><span>乐器</span></a>
                    <a class="graybutton gray" href="#"><span>印刷品</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px; padding-left: 10px;">
                    <a class="graybutton gray" href="#"><span>玩具模型</span></a>
                </div>
            </div>

            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
        </div>
    </div>
    <div class="grid_6">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
    <div class="grid_6">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
    <div class="grid_7 omega">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
</div>


<div class="grid_24">
    <div style="padding: 30px;">
        &nbsp;
    </div>
</div>

<!--ad-->
<div class="grid_24">
    <div class="grid_8 alpha">
        <img src="../../Content/images/ad190_80.png" width="310" />
    </div>
    <div class="grid_8">
        <img src="../../Content/images/ad190_80.png" width="310" />
    </div>
    <div class="grid_8 omega">
        <img src="../../Content/images/ad190_80.png" width="270" height="137"/>
    </div>
</div>

<div class="grid_24">
    <div style="padding: 30px;">
        &nbsp;
    </div>
</div>

<!--汽车交易-->
<div class="grid_24">
    <div class="grid_5 alpha">
        <div style="border-left: 1px solid red; border-right: 1px solid red;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div style="padding-top: 20px; padding-left: 20px;">
                <img src="../../Content/images/car.png" />
            </div>

            <div style="padding: 10px 0;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    二手汽车
                </div>
                <div class="buttonwrapper" style="padding: 10px 0;">
                    <a class="ovalbutton blue" href="#"><span>奥迪</span></a>
                    <a class="ovalbutton blue" href="#"><span>宝马</span></a>
                    <a class="ovalbutton blue" href="#"><span>别克</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="redbutton red" href="#"><span>伏特</span></a>
                    <a class="redbutton red" href="#"><span>雪铁龙</span></a>
                    <a class="ovalbutton blue" href="#"><span>本田</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="ovalbutton blue" href="#"><span>丰田</span></a>
                    <a class="ovalbutton blue" href="#"><span>MIMI</span></a>
                    <a class="ovalbutton blue" href="#"><span>日产</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="ovalbutton blue" href="#"><span>奔驰</span></a>
                    <a class="ovalbutton blue" href="#"><span>标志</span></a>
                    <a class="ovalbutton blue" href="#"><span>大众</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="ovalbutton blue" href="#"><span>沃尔沃</span></a>
                    <a class="ovalbutton blue" href="#"><span>其他品牌</span></a>
                </div>
            </div>

            <div style="padding: 10px 0; padding-bottom: 25px;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    汽车配件
                </div>
                <div class="buttonwrapper" style="padding: 10px 0;">
                    <a class="greenbutton green" href="#"><span>GPS</span></a>
                    <a class="orangebutton orange" href="#"><span>汽车装饰</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="greenbutton green" href="#"><span>其他</span></a>
                </div>
            </div>



            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
        </div>
    </div>
    <div class="grid_6">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
    <div class="grid_6">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
    <div class="grid_7 omega">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
</div>


<div class="grid_24">
    <div style="padding: 50px;">
        &nbsp;
    </div>
</div>

<!--ad-->
<div class="grid_24">
    <div class="grid_8 alpha">
        <img src="../../Content/images/ad190_80.png" width="310" />
    </div>
    <div class="grid_8">
        <img src="../../Content/images/ad190_80.png" width="310" />
    </div>
    <div class="grid_8 omega">
        <img src="../../Content/images/ad190_80.png" width="270" height="137"/>
    </div>
</div>

<div class="grid_24">
    <div style="padding: 30px;">
        &nbsp;
    </div>
</div>


<!--房屋信息-->
<div class="grid_24">
    <div class="grid_5 alpha">
        <div style="border-left: 1px solid red; border-right: 1px solid red;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div style="padding-top: 20px; padding-left: 20px;">
                <img src="../../Content/images/house.png" />
            </div>

            <div style="padding: 10px 0;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    商品用房
                </div>
                <div class="buttonwrapper" style="padding: 10px 0;">
                    <a class="ovalbutton blue" href="#"><span>手机</span></a>
                    <a class="ovalbutton blue" href="#"><span>电脑</span></a>
                    <a class="ovalbutton blue" href="#"><span>游戏配件</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="redbutton red" href="#"><span>游戏机</span></a>
                    <a class="redbutton red" href="#"><span>游戏配件</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="ovalbutton blue" href="#"><span>数码摄像器材</span></a>
                    <a class="ovalbutton blue" href="#"><span>手机配件</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="redbutton red" href="#"><span>其他</span></a>
                </div>
            </div>

            <div style="padding: 16px 0;">
                <div class="txtcenter" style="background: yellow; font-size: 14px;">
                    居住用房
                </div>
                <div class="buttonwrapper" style="padding: 10px 0;">
                    <a class="greenbutton green" href="#"><span>展销商铺</span></a>
                    <a class="orangebutton orange" href="#"><span>饮食商铺</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="greenbutton green" href="#"><span>仓库</span></a>
                    <a class="redbutton red" href="#"><span>学生公寓</span></a>
                </div>

                <div class="buttonwrapper" style="padding-bottom: 10px;">
                    <a class="orangebutton orange" href="#"><span>HOUSE</span></a>
                    <a class="redbutton red" href="#"><span>FLAT</span></a>
                    <a class="ovalbutton blue" href="#"><span>办公室</span></a>
                </div>
            </div>

            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
        </div>
    </div>
    <div class="grid_6">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
    <div class="grid_6">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
    <div class="grid_7 omega">
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
        <div>
            <img src="../../Content/images/1.jpg" width="230" />
        </div>
    </div>
</div>


















<!--广告栏和发布信息-->
@*<div class="grid_24">
            <div class="grid_19 alpha">
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="scriptmain" name="scriptmain" codebase="http://download.macromedia.com/pub/shockwave/cabs/
flash/swflash.cab#version=6,0,29,0" 
                    width="760" height="200">
                    <param name="movie" value="/Content/js/Flash/bcastr.swf?bcastr_xml_url=js/Flash/xml/bcastr.xml" />
                    <param name="quality" value="high" />
                    <param name="scale" value="noscale" />
                    <param name="LOOP" value="false" />
                    <param name="menu" value="false" />
                    <param name="wmode" value="transparent" />
                    <embed src="/Content/js/Flash/bcastr.swf?bcastr_xml_url=/Content/js/Flash/xml/bcastr.xml" width="760" height="200" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" salign="T" name="scriptmain" menu="false" wmode="transparent"></embed>
                </object>
                <!-- 590 240-->
            </div>
            <div class="grid_5 omega">
                <div class="cathead-desc">
                    <!--<div class="catmsg small" style="display: block;">1小时前 <cite>user_1642948</cite> 发布了 <cite>优派MB-P702电子 ...</cite></div>
                    <a class="pubbtn" href="/fabu/?category=ershou&amp;city=shanghai" target="_blank">免费发布转让信息</a>-->
                </div>

            </div>
            <style type="text/css">
                .cathead-desc {
                    height: 200px;
                    background: url(/Content/images/publish.gif) no-repeat;
                }

                /*.cathead-desc .catmsg {
                        width: 180px;
                        bottom: 74px;
                        height: 36px;
                        padding: 5px 10px;
                        line-height: 19px;
                    }

                small, .small {
                    font-size: 12px;
                    color: #888;
                }

                .cathead-desc .catmsg, .cathead-desc .pubbtn {
                    left: 15px;
                    position: absolute;
                }*/
            </style>

        </div>*@
