@{
    ViewBag.Title = "【英淘网】 -免费发布信息-英国汽车,二手,房屋信息门户";
}

<!--广告栏和发布信息-->
        <div class="grid_24">
            <div class="grid_19 alpha">
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="scriptmain" name="scriptmain" codebase="http://download.macromedia.com/pub/shockwave/cabs/
flash/swflash.cab#version=6,0,29,0" 
                    width="760" height="200">
                    <param name="movie" value="/Content/js/Flash/bcastr.swf?bcastr_xml_url=js/Flash/xml/bcastr.xml" />
                    <param name="quality" value="high" />
                    <param name="scale" value="noscale" />
                    <param name="LOOP" value="false" />
                    <param name="menu" value="false" />
                    <param name="wmode" value="transparent" />
                    <embed src="/Content/js/Flash/bcastr.swf?bcastr_xml_url=/Content/js/Flash/xml/bcastr.xml" width="760" height="200" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" salign="T" name="scriptmain" menu="false" wmode="transparent"></embed>
                </object>
                <!-- 590 240-->
            </div>
            <div class="grid_5 omega">
                <div class="cathead-desc">
                    <!--<div class="catmsg small" style="display: block;">1小时前 <cite>user_1642948</cite> 发布了 <cite>优派MB-P702电子 ...</cite></div>
                    <a class="pubbtn" href="/fabu/?category=ershou&amp;city=shanghai" target="_blank">免费发布转让信息</a>-->
                </div>

            </div>
            <style type="text/css">
                .cathead-desc {
                    height: 200px;
                    background: url(/Content/images/publish.gif) no-repeat;
                }

                /*.cathead-desc .catmsg {
                        width: 180px;
                        bottom: 74px;
                        height: 36px;
                        padding: 5px 10px;
                        line-height: 19px;
                    }

                small, .small {
                    font-size: 12px;
                    color: #888;
                }

                .cathead-desc .catmsg, .cathead-desc .pubbtn {
                    left: 15px;
                    position: absolute;
                }*/
            </style>

        </div>
