#topbar
{
    height: 28px;
    line-height: 28px;
    background: #FBFBFB;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    z-index: 999;
    color: #999;
}


.p-line
{
    padding: 10px 0;
}

.txtcenter
{
    text-align: center;
}


.txtright
{
    text-align: right;
}

.clearmargin
{
    margin: 0;
}


.publishborder
{
    border: 1px solid #DDD;
}

.ytbg
{
    background-color: #8A0018;
}

.orange
{
    color: #EC6E0B;
    font-family: Tahoma;
    font-size: 22px;
    font-weight: bold;
}



.yuan
{
    background-image: url(images/yuan.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.yta
{
    -moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background-color: transparent;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    color: #605d5d;
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #86ae47;
}

    .yta:active
    {
        position: relative;
        top: 1px;
    }

    .yta:hover
    {
        color: #605d5d;
        text-decoration: underline;
    }


.ytared
{
    -moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background-color: transparent;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid red;
    display: inline-block;
    color: #605d5d;
    font-family: arial;
    font-size: 10px;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #86ae47;
}

    .ytared:active
    {
        position: relative;
        top: 1px;
    }

    .ytared:hover
    {
        color: #605d5d;
        text-decoration: underline;
    }


/*--by other---*/
li
{
    list-style-position: outside;
    vertical-align: bottom;
    list-style: none;
}

a
{
    color: black;
    text-decoration: none;
    font-family: '微软雅黑';
}


.logo
{
    display: block;
    width: 190px;
    height: 63px;
    overflow: hidden;
}

.logo
{
    display: block;
    width: 190px;
    height: 63px;
    border: 0px;
}

.logo_img
{
    border: 0px;
}

.logo_reg_mem
{
    display: block;
    width: 70px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    background-color: #f2f2f2;
}

    .logo_reg_mem:hover
    {
        background-color: #dbdbdb;
    }

    .logo_reg_mem a
    {
        font-size: 12px;
        font-family: 微软雅黑;
        color: #050505;
    }

.search_wks
{
    height: 62px;
    line-height: 62px;
    width: 710px;
}

    .search_wks div.txts
    {
        height: 44px;
        line-height: 44px;
        width: 390px;
        text-align: left;
        padding: 0px;
        margin: 0px;
        border: 0px;
        background: none;
        float: left;
        background-image: url(images/search_bg.gif);
        margin-top: 15px;
        overflow: hidden;
    }

        .search_wks div.txts input
        {
            display: block;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            width: 345px;
            text-align: left;
            background: none;
            padding: 0px;
            margin: 0px auto;
            margin-top: 10px;
            border: 0px;
            font-family: 微软雅黑;
            color: #333333;
        }

            .search_wks div.txts input.normals
            {
                display: block;
                height: 22px;
                line-height: 22px;
                overflow: hidden;
                width: 345px;
                text-align: left;
                background: none;
                padding: 0px;
                margin: 0px auto;
                margin-top: 10px;
                border: 0px;
                font-family: 微软雅黑;
                color: #333333;
                font-style: normal;
            }

    .search_wks div.buttons
    {
        display: block;
        width: 150px;
        height: 32px;
        line-height: 32px;
        float: left;
        background-image: url(images/search_btn.jpg);
        background-repeat: no-repeat;
        background-position: 0px -5px;
        margin-top: 20px;
        margin-right: 66px;
        _margin-right: 33px;
    }

        .search_wks div.buttons input
        {
            display: block;
            height: 22px;
            width: 50px;
            border: 0px;
            margin: 0px;
            padding: 0px;
            background: none;
            cursor: pointer;
        }


#nav_wk
{
    margin-top: 35px;
    height: 35px;
    background-color: #9d261d;
}

    #nav_wk a
    {
        display: block;
        height: 35px;
        font-family: 微软雅黑;
        line-height: 35px;
        float: left;
        margin-right: 30px;
        padding: 0px 10px 0px 10px;
        color: white;
        font-size: 16px;
        overflow: hidden;
    }

        #nav_wk a:hover
        {
            background-color: #b94a48;
            color: #f3edd2;
        }

.pb_li_info_rows
{
    width: 210px;
    height: 28px;
    line-height: 28px;
    border-bottom: 1px #ebebeb solid;
    background-color: #f5f5f5;
    display: block;
    padding-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}

    .pb_li_info_rows:hover
    {
        background-color: #dbdbdb;
    }

    .pb_li_info_rows .imgs_icons
    {
        display: block;
        height: 18px;
        width: 22px;
        overflow: hidden;
        float: left;
        margin-top: 5px;
    }

    .pb_li_info_rows .word_info
    {
        /*float: left;*/
        display: block;
        height: 28px;
        line-height: 28px;
        width: 180px;
        text-align: left;
        font-size: 12px;
        font-family: 微软雅黑;
        color: #535353;
        overflow: hidden;
        margin-left: 25px;
    }

    .pb_li_info_rows .datas_w
    {
        display: block;
        height: 28px;
        line-height: 28px;
        width: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        color: #535353;
        font-size: 13px;
        float: left;
        margin-left: 5px;
        overflow: hidden;
    }

.hot_tags
{
    height: 300px;
    width: 188px;
    border: 1px #e6e5e5 solid;
    overflow: hidden;
    text-align: center;
    border-top: 3px #9d261d solid;
}

.thing_deal_tops
{
    width: 190px;
    height: 190px;
}

    .thing_deal_tops img
    {
        width: 190px;
        height: 190px;
        display: block;
        border: 0px;
    }

.thing_deal_hot_tag
{
    height: 101px;
    width: 188px;
    overflow: hidden;
}

    .thing_deal_hot_tag .tits
    {
        height: 18px;
        line-height: 18px;
        margin-top: 15px;
        overflow: hidden;
        padding-left: 10px;
        font-size: 13px;
        font-family: 微软雅黑;
        color: #000000;
        text-align: left;
    }

.interval_line_c
{
    display: block;
    height: 1px;
    width: 160px;
    margin: 0px auto;
    border-bottom: 1px #e0dfdf solid;
    overflow: hidden;
}

.thing_deal_hot_tag .tdht_cons
{
    padding-left: 10px;
    overflow: hidden;
    height: auto;
}

    .thing_deal_hot_tag .tdht_cons a
    {
        display: block;
        height: 23px;
        line-height: 23px;
        margin-top: 10px;
        margin-right: 15px;
        overflow: hidden;
        background-image: url(images/tag_off_bg.jpg);
        float: left;
        text-align: center;
        font-size: 13px;
        font-family: 微软雅黑;
        color: #000000;
        width: 70px;
    }

        .thing_deal_hot_tag .tdht_cons a:hover
        {
            background-image: url(images/tag_on_bg.jpg);
            text-decoration: none;
            color: white;
        }

.img_cons_wks_common
{
    height: 300px;
    width: 188px;
    overflow: hidden;
    text-align: center;
}

.tits_btm_coms_index
{
    width: 178px;
    padding: 0px 5px 0px 5px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    color: black;
    font-family: 微软雅黑;
    font-size: 13px;
}

.names_btm
{
    background-color: #f8efe7;
}

.img_cons_wks_common .imgs_a
{
    display: block;
    height: 200px;
    width: 188px;
    overflow: hidden;
    margin: 9px 0px 10px 0px;
}

    .img_cons_wks_common .imgs_a img
    {
        display: block;
        height: 200px;
        width: 188px;
        border: 0px;
    }

.scroll_tops_btns_c
{
    display: block;
    height: 26px;
    width: 26px;
    background-image: url(images/top_btn_btns.gif);
    background-position: -72px 0px;
    margin-top: 90px;
}

.scroll_tops_btns_c_end
{
    display: block;
    height: 26px;
    width: 26px;
    background-image: url(images/top_btn_btns.gif);
    background-position: -108px 0px;
    margin-top: 90px;
}

.scroll_btms_btns_c
{
    display: block;
    height: 26px;
    width: 26px;
    background-image: url(images/top_btn_btns.gif);
    background-position: 0px 0px;
    margin-top: 60px;
}

.scroll_btms_btns_c_end
{
    display: block;
    height: 26px;
    width: 26px;
    background-image: url(images/top_btn_btns.gif);
    background-position: -36px 0px;
    margin-top: 60px;
}

.common_six_grids
{
    width: 148px;
    height: 88px;
    overflow: hidden;
    border: 1px #e6e5e5 solid;
}

    .common_six_grids a img
    {
        display: block;
        height: 88px;
        width: 148px;
        border: 0px;
    }

/*Top Flash Start*/
.box
{
    width: 710px;
    height: 269px;
    overflow: hidden;
    position: relative;
    margin: 0px auto 0;
    background: none;
}

    .box ol
    {
        position: absolute;
        left: 505px;
        bottom: 6px;
        z-index: 5;
    }

        .box ol li
        {
            float: left;
            margin-right: 6px;
            display: inline;
            cursor: pointer;
            padding: 0;
            color: #000;
            font-family: arial;
            font-size: 14px;
            overflow: hidden;
            width: 23px;
            height: 23px;
            line-height: 26px;
            font-weight: bold;
            text-align: center;
            background-color: #cccccc;
            color: black;
        }

    .box .active
    {
        padding: 0px;
        position: relative;
        bottom: 0px;
        background-color: #d80808;
        color: white;
    }

    .box ul
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

        .box ul li
        {
            width: 710px;
            height: 269px;
            float: left;
            text-align: left;
            display: block;
        }

            .box ul li a .img1
            {
                display: block;
                width: 430px;
                height: 269px;
                border: 0px;
            }

            .box ul li a .img2
            {
                display: block;
                width: 270px;
                height: 269px;
                border: 0px;
            }

    .box p
    {
        width: 28px;
        height: 269px;
        cursor: pointet;
        display: block;
    }

    .box .left_bss
    {
        display: none;
        top: 0px;
        left: 0px;
        position: absolute;
        width: 28px;
        height: 269px;
        z-index: 99999999;
        background-image: url(images/mouse_off_bg.png);
    }

    .box .right_bss
    {
        display: none;
        top: 0px;
        left: 682px;
        position: absolute;
        width: 28px;
        height: 269px;
        z-index: 99999999;
        background-image: url(images/mouse_off_bg.png);
    }

    .box .left_bss .prev
    {
        background-image: url(images/tf_lft_btn.png);
        _background-image: url(images/tf_lft_btn.gif);
        background-repeat: no-repeat;
        background-position: 5px 121px;
        cursor: pointer;
    }

    .box .right_bss .next
    {
        background-image: url(images/tf_rit_btn.png);
        _background-image: url(images/tf_rit_btn.gif);
        background-repeat: no-repeat;
        background-position: 5px 121px;
        cursor: pointer;
    }
/*Top Flash End*/

/*Content Scroll Start*/
.topLoop
{
    overflow: hidden;
    position: relative;
    width: 190px;
    height: 304px;
}

    .topLoop .hd
    {
        overflow: hidden;
        position: absolute;
        height: 300px;
        width: 30px;
        left: 200px;
        top: 0px;
        z-index: 88;
    }

        .topLoop .hd .prev
        {
            display: block;
            height: 26px;
            width: 26px;
            background-image: url(images/top_btn_btns.gif);
            background-position: -36px 0px;
            margin-top: 60px;
            cursor: pointer;
        }

        .topLoop .hd .next
        {
            display: block;
            height: 26px;
            width: 26px;
            background-image: url(images/top_btn_btns.gif);
            background-position: -108px 0px;
            margin-top: 90px;
            cursor: pointer;
        }

        .topLoop .hd .prev:hover
        {
            background-position: 0px 0px;
        }

        .topLoop .hd .next:hover
        {
            background-position: -72px 0px;
        }

    .topLoop .bd
    {
        padding: 0px;
        height: 300px;
        width: 188px;
        border: 1px #e6e5e5 solid;
        height: 300px;
        border-top: 3px #9d261d solid;
        +float:left;
        _float: left;
    }

        .topLoop .bd ul
        {
            overflow: hidden;
            zoom: 1;
            float: left;
        }

.picList li
{
    width: 188px;
    float: left;
}

/****List ***/
.list_scroll_inn_wks
{
    width: 188px;
    height: 242px;
    border: 1px #e6e5e5 solid;
    margin-right: 10px;
    float: left;
    border-bottom: 0px;
}

    .list_scroll_inn_wks .tops_aa_imgs_kk
    {
        display: block;
        height: 200px;
        width: 188px;
        overflow: hidden;
        margin: 0px 0px 2px 0px;
    }

        .list_scroll_inn_wks .tops_aa_imgs_kk img
        {
            display: block;
            height: 200px;
            width: 188px;
            border: 0px;
            padding: 0px;
        }

.tits_btm_coms_list
{
    width: 178px;
    padding: 0px 5px 0px 5px;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    text-align: center;
    color: black;
    font-family: 微软雅黑;
    font-size: 13px;
    border-bottom: 1px #e6e5e5 solid;
}

.names_btm
{
    background-color: #f8efe7;
}

.list_left_img_demo_tit
{
    width: 108px;
    height: 240px;
    overflow: hidden;
    border: 0px;
    display: block;
    border: 1px #e6e5e5 solid;
    border-top: 3px #800000 solid;
}
/*Content Scroll end*/



/*Top Option Start*/
.mod_select
{
    position: relative;
    left: -20px;
    _left: -40px;
    top: 1px;
    font-familY: Arial, Helvetica, sans-serif;
    z-index: 100000000000;
}

    .mod_select ul
    {
        margin: 0;
        padding: 0;
    }

        .mod_select ul li
        {
            list-style-type: none;
            float: left;
            margin-left: 20px;
            height: 24px;
        }

.select_label
{
    color: #982F4D;
    float: left;
    line-height: 24px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 700;
}

.select_box
{
    float: left;
    border: solid 0px #EDE7D6;
    color: #444;
    position: relative;
    left: 0px;
    top: 0px;
    text-align: left;
    cursor: pointer;
    width: 162px;
    background-image: url(images/search_select_btn.png);
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.search_btns_top
{
    position: absolute;
    right: 13px;
    _right: 0px;
    top: 0px;
    width: 60px;
    background: none;
    height: 30px;
    cursor: pointer;
    border: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 9999999;
    display: block;
}

.select_txt
{
    display: inline-block;
    padding-left: 10px;
    width: 135px;
    line-height: 28px;
    height: 28px;
    cursor: text;
    overflow: hidden;
    font-size: 14px;
    font-family: 微软雅黑;
}

.option
{
    width: 194px;
    ;
    border: solid 0px #EDE7D6;
    position: absolute;
    top: 30px;
    left: -60px;
    z-index: 999999999999;
    overflow: hidden;
    display: none;
}

    .option .tops_sl
    {
        width: 194px;
        height: 21px;
        background-image: url(images/select_list_bg_top.png);
        _background-image: url(images/select_list_bg_top.gif);
    }

    .option .mids_sl
    {
        width: 169px;
        padding: 0px 12px 0px 13px;
        overflow: hidden;
        height: auto;
        background-image: url(images/select_list_bg_mid_ie6.png);
        _background-image: url(images/select_list_bg_mid_ie6.gif);
        background-repeat: repeat-y;
    }

    .option .btms_sl
    {
        width: 194px;
        height: 24px;
        background-image: url(images/select_list_bg_btm.png);
        _background-image: url(images/select_list_bg_btm.gif);
    }

    .option a
    {
        display: block;
        height: 26px;
        line-height: 26px;
        text-align: left;
        padding: 0 10px;
        width: 149px;
        background: #fff;
        text-align: center;
        font-size: 14px;
        font-family: 微软雅黑;
    }

        .option a:hover
        {
            background: #a20f0f;
            color: white;
        }
/*Top Option End*/

.height_30
{
    height: 30px;
    line-height: 30px;
}

.height_110
{
    height: 30px;
    line-height: 110px;
}

.pb_info_f_btn
{
    display: block;
    height: 110px;
    width: 110px;
    overflow: hidden;
}

    .pb_info_f_btn img
    {
        display: block;
        height: 110px;
        width: 110px;
        border: 0px;
    }

/*Interval Set*/
.interval_10
{
    width: 100%;
    height: 10px;
    clear: both;
}

.interval_20
{
    width: 100%;
    height: 20px;
    clear: both;
}

.interval_30
{
    width: 100%;
    height: 30px;
    clear: both;
}

.width_cus
{
    width: 30px;
    color: white;
}

.bottom
{
    line-height: 30px;
    background-color: #9d261d;
    height: 30px;
    text-align: center;
}

    .bottom a
    {
        font-size: 12px;
        color: white;
        font-family: 微软雅黑;
        margin-right: 25px;
    }

        .bottom a:hover
        {
            text-decoration: underline;
        }


/*List Page Right Nav Start*/
.right_nav_category
{
    width: 230px;
    height: 240px;
    position: relative;
    z-index: 9999999999999999999999999;
    background-color: white;
}

    .right_nav_category .inners_r_list_con
    {
        height: 239px;
        width: 228px;
        border: 1px #CCCCCC solid;
        border-top: 0px;
        text-align: left;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background-color: white;
    }

        .right_nav_category .inners_r_list_con .nav_row_con_cus
        {
            padding: 0px 15px 0px 15px;
            width: 194px;
            border: 2px white solid;
            border-left: 2px white solid;
            position: relative;
            top: 0px;
            left: 0px;
            background-color: white;
            z-index: 55;
        }

            .right_nav_category .inners_r_list_con .nav_row_con_cus .inners_n_cons
            {
                border-bottom: 1px #CCCCCC dashed;
                width: 194px;
                position: relative;
                left: 0px;
                top: 0px;
            }

                .right_nav_category .inners_r_list_con .nav_row_con_cus .inners_n_cons .cat_first_nav_tit
                {
                    height: 18px;
                    line-height: 18px;
                    width: 194px;
                    overflow: hidden;
                    font-size: 15px;
                    color: #333333;
                    font-weight: bold;
                    text-align: right;
                    margin-top: 18px;
                }

                .right_nav_category .inners_r_list_con .nav_row_con_cus .inners_n_cons .cat_second_nav_tit
                {
                    height: 18px;
                    line-height: 18px;
                    width: 194px;
                    text-align: right;
                    overflow: hidden;
                    margin-bottom: 5px;
                    margin-top: 9px;
                }

                    .right_nav_category .inners_r_list_con .nav_row_con_cus .inners_n_cons .cat_second_nav_tit a
                    {
                        font-size: 12px;
                        color: #666666;
                        margin-left: 4px;
                        white-space: nowrap;
                    }

                        .right_nav_category .inners_r_list_con .nav_row_con_cus .inners_n_cons .cat_second_nav_tit a:hover
                        {
                            text-decoration: underline;
                        }

            .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list
            {
                height: auto;
                width: 480px;
                border: 2px #800000 solid;
                overflow: hidden;
                position: absolute;
                top: 0px;
                left: -484px;
                top: -2px;
                background-color: white;
                z-index: 33;
                border: 0px;
                width: 0px;
                height: 0px;
                background: none;
            }

                .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .add_white_bgs
                {
                    padding: 15px;
                    padding-top: 5px;
                    width: 450px;
                    background-color: white;
                }

            .right_nav_category .inners_r_list_con .nav_row_con_cus .left_ups_white_lines
            {
                display: block;
                width: 0px;
                height: 69px;
                border-left: 2px white solid;
                overflow: hidden;
                position: absolute;
                left: -2px;
                top: 0px;
                z-index: 50;
                display: none;
            }

            .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows
            {
                height: auto;
                border-bottom: 1px #CCCCCC dashed;
                padding: 0px 10px 8px 10px;
                width: 430px;
                margin-top: 15px;
            }

                .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows .alert_list_second_nav
                {
                    height: 18px;
                    line-height: 18px;
                    width: 80px;
                    text-align: right;
                    overflow: hidden;
                    float: right;
                }

                    .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows .alert_list_second_nav a
                    {
                        font-size: 14px;
                        color: #333333;
                    }

                        .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows .alert_list_second_nav a:hover
                        {
                            text-decoration: underline;
                        }

                .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows .alert_list_third_nav
                {
                    height: auto;
                    float: left;
                    width: 340px;
                    overflow: hidden;
                }

                    .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows .alert_list_third_nav span
                    {
                        display: block;
                        height: 13px;
                        line-height: 13px;
                        float: right;
                        margin-bottom: 8px;
                        padding: 0px 7px 0px 12px;
                        border-right: 1px #CCCCCC solid;
                        padding-top: 0px;
                    }

                        .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows .alert_list_third_nav span a
                        {
                            font-size: 12px;
                            color: #0000FF;
                            white-space: nowrap;
                            font-family: 宋体;
                            margin-top: 0px;
                            position: relative;
                            +top:-4px;
                            _top: -4px;
                        }

                            .right_nav_category .inners_r_list_con .nav_row_con_cus .alert_second_lft_nav_list .in_inners_rows .alert_list_third_nav span a:hover
                            {
                                color: #800000;
                                font-family: 宋体;
                                text-decoration: underline;
                            }

.fix_ie6_rit_border
{
    border-left: 1px #cccccc solid;
    width: 3px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 229px;
    top: 0px;
    display: none;
    z-index: 50;
    border-bottom: 1px white solid;
}

.fix_ie6_rit_border_o
{
    border-left: 1px #cccccc solid;
    width: 3px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 229px;
    top: 0px;
    display: none;
    visibility: visible;
    z-index: 50;
    border-bottom: 1px white solid;
    _display: block;
}
/*List Page Right Nav End*/


/***Demo Start***/
.right_small_imgs_sll_demo
{
    height: 360px;
    width: 70px;
    overflow: hidden;
    padding-top: 5px;
}

    .right_small_imgs_sll_demo span
    {
        display: block;
        width: 70px;
        height: 62px;
        margin-bottom: 7px;
        overflow: hidden;
    }

        .right_small_imgs_sll_demo span .left_arr
        {
            display: block;
            height: 62px;
            width: 8px;
            text-align: center;
            float: left;
        }

            .right_small_imgs_sll_demo span .left_arr img
            {
                display: block;
                margin-top: 24px;
            }

            .right_small_imgs_sll_demo span .left_arr .arrow_red
            {
                display: none;
            }

        .right_small_imgs_sll_demo span .right_imgs_dm_on
        {
            display: block;
            border: 2px #800000 solid;
            float: right;
            height: 54px;
            width: 54px;
            padding: 2px;
        }

        .right_small_imgs_sll_demo span .right_imgs_dm_off
        {
            display: block;
            border: 2px #cccccc solid;
            float: right;
            height: 54px;
            width: 54px;
            padding: 2px;
        }

            .right_small_imgs_sll_demo span .right_imgs_dm_off a
            {
                display: block;
                border: 1px #cccccc solid;
                width: 52px;
                height: 52px;
                overflow: hidden;
            }

                .right_small_imgs_sll_demo span .right_imgs_dm_off a:hover
                {
                    border: 1px #fb4040 solid;
                }

                .right_small_imgs_sll_demo span .right_imgs_dm_off a img
                {
                    display: block;
                    width: 56px;
                    height: 56px;
                    border: 0px;
                }

        .right_small_imgs_sll_demo span .right_imgs_dm_on a
        {
            display: block;
            border: 1px #cccccc solid;
            width: 52px;
            height: 52px;
            overflow: hidden;
        }

            .right_small_imgs_sll_demo span .right_imgs_dm_on a:hover
            {
                border: 1px #feaeae solid;
            }

            .right_small_imgs_sll_demo span .right_imgs_dm_on a img
            {
                display: block;
                width: 56px;
                height: 56px;
                border: 0px;
            }

.goods_descriptions_demo
{
    height: 330px;
    overflow: hidden;
    width: 400px;
    padding: 0px 15px 0px 15px;
}

    .goods_descriptions_demo .goods_names
    {
        text-align: left;
        height: 60px;
        width: 400px;
        overflow: hidden;
        display: block;
        border-bottom: 1px #CCCCCC solid;
        padding-bottom: 15px;
    }

        .goods_descriptions_demo .goods_names a
        {
            line-height: 145%;
            color: #c79e70;
            font-size: 22px;
            font-family: 微软雅黑;
            font-weight: normal;
            word-break: break-all;
        }

    .goods_descriptions_demo .designer_wks
    {
        height: 28px;
        line-height: 28px;
        overflow: hidden;
        text-align: left;
        color: #394841;
        font-size: 16px;
        font-family: 微软雅黑;
        margin-top: 25px;
    }

    .goods_descriptions_demo .source_wks
    {
        line-height: 28px;
        text-align: left;
        color: #394841;
        font-size: 16px;
        font-family: 微软雅黑;
        margin-top: 15px;
    }

    .goods_descriptions_demo .designer_wks font
    {
        color: #394841;
        font-size: 21px;
        font-family: 微软雅黑;
    }

    .goods_descriptions_demo .goods_details_introduce
    {
        width: 400px;
        margin-top: 17px;
        color: #394841;
        font-size: 15px;
        font-family: 微软雅黑;
        text-align: left;
        word-break: break-all;
        line-height: 160%;
        height: 176px;
        overflow: hidden;
    }

.right_btns_demo_set
{
    height: 350px;
    overflow: hidden;
    width: 70px;
    overflow: hidden;
}

    .right_btns_demo_set font
    {
        display: block;
        height: 70px;
        width: 70px;
        margin-bottom: 15px;
    }

        .right_btns_demo_set font img
        {
            display: block;
            height: 70px;
            width: 70px;
            border: 0px;
            cursor: pointer;
        }

    .right_btns_demo_set .saler_btns
    {
        height: 95px;
    }

        .right_btns_demo_set .saler_btns img
        {
            display: block;
            height: 95px;
            width: 70px;
            text-align: center;
        }

    .right_btns_demo_set font.shares_wwkks img
    {
        display: inline;
        width: auto;
        height: auto;
    }

    .right_btns_demo_set font.shares_wwkks span
    {
        display: block;
        margin-top: 3px;
        text-align: center;
    }

    .right_btns_demo_set font.shares_wwkks a
    {
        display: block;
        margin: 0px auto;
        margin-top: 5px;
        position: relative;
        width: 40px;
    }

/***Alert Div S***/
.alert_tips_frames_dm
{
    width: 340px;
    height: auto;
    position: absolute;
    padding: 0px;
    z-index: 999999999999999;
    background: none;
    display: none;
}

    .alert_tips_frames_dm .inner_atfd_wks
    {
        width: 340px;
        height: auto;
        position: relative;
        display: none;
        background-color: white;
        background: none;
    }

        .alert_tips_frames_dm .inner_atfd_wks .close_btn_r_d_off
        {
            display: block;
            height: 12px;
            width: 12px;
            background-image: url(images/close_alert_frames.gif);
            background-position: 0px 0px;
            background-color: white;
            position: absolute;
            top: 28px;
            left: 317px;
            z-index: 9;
            overflow: hidden;
        }

        .alert_tips_frames_dm .inner_atfd_wks .close_btn_r_d_on
        {
            display: block;
            height: 12px;
            width: 12px;
            background-image: url(images/close_alert_frames.gif);
            background-position: -26px 0px;
            background-color: black;
            top: 28px;
            left: 317px;
            position: absolute;
            z-index: 9;
            overflow: hidden;
        }

        .alert_tips_frames_dm .inner_atfd_wks .ai_tops_img
        {
            display: block;
            height: 22px;
            width: 29px;
            top: 0px;
            left: 35px;
            +left:-120px;
            _left: -120px;
            position: relative;
            z-index: 5;
        }

        .alert_tips_frames_dm .inner_atfd_wks .ai_conts
        {
            height: auto;
            width: 306px;
            padding: 15px;
            border: 2px #a21c1c solid;
            position: relative;
            z-index: 3;
            top: -2px;
            left: 0px;
            background-color: white;
        }

            .alert_tips_frames_dm .inner_atfd_wks .ai_conts .tops_tips_words
            {
                width: 306px;
                height: 45px;
                overflow: hidden;
                text-align: left;
                font-size: 13px;
                font-family: 微软雅黑;
                color: #830404;
                line-height: 150%;
            }

        .alert_tips_frames_dm .inner_atfd_wks .ai_tops_img
        {
            _behavior: url(iepngfix/iepngfix.htc);
        }

        .alert_tips_frames_dm .inner_atfd_wks .ai_conts .inputs_wks_d_m
        {
            height: auto;
            width: 306px;
            overflow: hidden;
            padding-top: 2px;
        }

            .alert_tips_frames_dm .inner_atfd_wks .ai_conts .inputs_wks_d_m textarea
            {
                display: block;
                height: 140px;
                padding: 5px;
                border: 1px #cccccc solid;
                width: 294px;
                overflow: hidden;
                font-size: 13px;
            }

        .alert_tips_frames_dm .inner_atfd_wks .ai_conts .btn_submits_d
        {
            height: 32px;
            width: 306px;
            overflow: hidden;
            text-align: right;
            padding-top: 6px;
        }

            .alert_tips_frames_dm .inner_atfd_wks .ai_conts .btn_submits_d input.oo_off
            {
                display: block;
                height: 32px;
                line-height: 28px;
                text-align: center;
                color: white;
                font-size: 14px;
                font-family: 微软雅黑;
                margin: 0px;
                padding: 0px;
                width: 86px;
                background: none;
                border: 0px;
                float: right;
                background-image: url(images/submits_btns_reds_d.png);
                background-position: 0px 0px;
                cursor: pointer;
                overflow: hidden;
                background-repeat: no-repeat;
            }

            .alert_tips_frames_dm .inner_atfd_wks .ai_conts .btn_submits_d input.oo_on
            {
                display: block;
                height: 32px;
                line-height: 28px;
                text-align: center;
                color: white;
                font-size: 14px;
                font-family: 微软雅黑;
                margin: 0px;
                padding: 0px;
                width: 86px;
                background: none;
                border: 0px;
                float: right;
                background-image: url(images/submits_btns_reds_d.png);
                background-position: -87px 0px;
                cursor: pointer;
                overflow: hidden;
                background-repeat: no-repeat;
            }


.pages_mbxdh_wks_commons
{
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: left;
}

    .pages_mbxdh_wks_commons a
    {
        display: block;
        height: 18px;
        line-height: 18px;
        float: left;
        color: #158dfd;
        font-size: 13px;
        overflow: hidden;
        margin-top: 2px;
    }

    .pages_mbxdh_wks_commons font
    {
        font-size: 13px;
        display: block;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        margin: 3px 4px 0px 4px;
        color: #666666;
        font-family: 宋体;
        float: left;
    }

.search_page_condition
{
    border: 1px #CCCCCC solid;
    padding: 12px;
    overflow: hidden;
    height: auto;
    width: 764px;
}

    .search_page_condition .tops_search_btns
    {
        height: 36px;
        line-height: 36px;
        width: 764px;
        overflow: hidden;
        margin-bottom: 5px;
    }

        .search_page_condition .tops_search_btns .lefts-shs
        {
            height: 36px;
            width: 398px;
            background-image: url(images/search_bg.png);
            background-repeat: no-repeat;
            float: left;
            padding: 1px;
        }

            .search_page_condition .tops_search_btns .lefts-shs input.searchs_texts_wks
            {
                display: block;
                height: 36px;
                line-height: 26px;
                width: 302px;
                padding: 2px;
                text-align: left;
                font-size: 14px;
                color: #333333;
                float: left;
                border: 0px;
                margin: 0px;
            }

            .search_page_condition .tops_search_btns .lefts-shs input.searches_btns_wks
            {
                display: block;
                height: 36px;
                width: 92px;
                float: right;
                border: 0px;
                background: none;
                font-size: 16px;
                color: black;
                font-family: 微软雅黑;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
            }

        .search_page_condition .tops_search_btns .rights_hot_keywords
        {
            font-size: 14px;
            color: #333333;
            height: 36px;
            line-height: 36px;
            width: 349px;
            float: right;
            text-align: left;
        }

            .search_page_condition .tops_search_btns .rights_hot_keywords a
            {
                font-size: 16px;
                color: black;
                margin-right: 12px;
                word-break: break-all;
            }

.s_p_condition_common_wks
{
    height: auto;
    border-bottom: 1px #CCCCCC solid;
    padding: 11px 0px 0px 0px;
    overflow: hidden;
    height: auto;
    width: 764px;
}

    .s_p_condition_common_wks .left_condition_tit
    {
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        width: 80px;
        text-align: left;
        font-size: 14px;
        font-family: 微软雅黑;
        color: black;
        float: left;
    }

    .s_p_condition_common_wks .left_condition_cons
    {
        height: auto;
        width: 684px;
        float: right;
        text-align: left;
        overflow: hidden;
    }

        .s_p_condition_common_wks .left_condition_cons span
        {
            display: block;
            height: 24px;
            line-height: 22px;
            padding: 0px 5px 0px 5px;
            overflow: hidden;
            float: left;
            margin-right: 6px;
            margin-bottom: 8px;
        }

            .s_p_condition_common_wks .left_condition_cons span a
            {
                font-size: 14px;
                font-family: 微软雅黑;
                color: black;
                word-break: break-all;
            }

            .s_p_condition_common_wks .left_condition_cons span.current_conditions
            {
                display: block;
                height: 24px;
                line-height: 22px;
                padding: 0px 5px 0px 5px;
                overflow: hidden;
                float: left;
                margin-right: 6px;
                background-color: #800000;
            }

                .s_p_condition_common_wks .left_condition_cons span.current_conditions a
                {
                    font-size: 14px;
                    font-family: 微软雅黑;
                    color: white;
                    word-break: break-all;
                }

.price_section_customs
{
    height: 24px;
    line-height: 24px;
    width: 280px;
    overflow: hidden;
    float: left;
    font-size: 14px;
    font-family: 微软雅黑;
    color: black;
    text-align: left;
}

    .price_section_customs font
    {
        display: block;
        height: 24px;
        line-height: 24px;
        float: left;
        overflow: hidden;
        font-size: 14px;
        font-family: 微软雅黑;
        color: black;
    }

    .price_section_customs input.text_price_ses
    {
        height: 18px;
        height: 18px;
        width: 41px;
        border: 1px #cfcfcf inset;
        display: block;
        overflow: hidden;
        padding: 2px;
        font-size: 1px;
        color: #333333;
        text-align: left;
        float: left;
    }

    .price_section_customs input.saixuan_btn
    {
        float: left;
        display: block;
        height: 24px;
        width: 46px;
        background-image: url(images/saixuan_btn.jpg);
        background-repeat: no-repeat;
        border: 0px;
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
        cursor: pointer;
    }

.searchs-results_list
{
    height: auto;
    width: 790px;
    overflow: hidden;
}

    .searchs-results_list .tops_tit_s_r
    {
        elevation: 22px;
        line-height: 22px;
        overflow: hidden;
        text-align: right;
        border-bottom: 1px #cccccc solid;
        padding-bottom: 6px;
    }

        .searchs-results_list .tops_tit_s_r .qiugot-a
        {
            color: #800000;
            font-size: 14px;
        }

        .searchs-results_list .tops_tit_s_r .zhuanrang-a
        {
            font-size: 14px;
            color: #333333;
        }

        .searchs-results_list .tops_tit_s_r font
        {
            font-size: 12px;
            color: #666666;
        }

    .searchs-results_list .srl_cons
    {
        height: auto;
        width: 790px;
        padding-top: 12px;
        overflow: hidden;
    }

        .searchs-results_list .srl_cons .tops_zhanzhu_cc
        {
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            text-align: left;
            font-size: 14px;
            color: #000000;
            margin-bottom: 7px;
        }

            .searchs-results_list .srl_cons .tops_zhanzhu_cc a
            {
                font-size: 14px;
                color: #800000;
            }

                .searchs-results_list .srl_cons .tops_zhanzhu_cc a font
                {
                    font-size: 13px;
                    font-family: 宋体;
                    color: #666666;
                }

        .searchs-results_list .srl_cons .rows_wks_sr_list
        {
            height: auto;
            width: 790px;
            overflow: hidden;
            margin: 5px 0px 5px 0px;
            padding: 11px 0px 8px 0px;
            border-top: 1px #e1e0e0 solid;
        }

            .searchs-results_list .srl_cons .rows_wks_sr_list a.lefts_demo_imgs
            {
                display: block;
                overflow: hidden;
                height: 70px;
                width: 70px;
                float: left;
            }

                .searchs-results_list .srl_cons .rows_wks_sr_list a.lefts_demo_imgs img
                {
                    display: block;
                    border: 1px #e1e0e0 solid;
                    width: 68px;
                    height: 68px;
                }

            .searchs-results_list .srl_cons .rows_wks_sr_list .right_details_wkss
            {
                height: auto;
                width: 680px;
                float: right;
                text-align: left;
                margin-left: 40px;
            }

                .searchs-results_list .srl_cons .rows_wks_sr_list .right_details_wkss .tops_tddds
                {
                    height: 22px;
                    line-height: 22px;
                    overflow: hidden;
                    text-align: left;
                }

                .searchs-results_list .srl_cons .rows_wks_sr_list .right_details_wkss .tops_tddds_names
                {
                    height: 22px;
                    line-height: 22px;
                    width: 400px;
                    overflow: hidden;
                    text-align: left;
                    float: left;
                }

                    .searchs-results_list .srl_cons .rows_wks_sr_list .right_details_wkss .tops_tddds_names a
                    {
                        font-size: 14px;
                        color: #800000;
                    }

                    .searchs-results_list .srl_cons .rows_wks_sr_list .right_details_wkss .tops_tddds_names font
                    {
                        font-size: 14px;
                        color: #043c01;
                    }

.shows_price_or_exchange_ico
{
    height: 22px;
    line-height: 22px;
    text-align: left;
    width: 100px;
    color: #f65e02;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

    .shows_price_or_exchange_ico img
    {
        display: block;
        margin-top: 4px;
    }

.searchs-results_list .srl_cons .rows_wks_sr_list .right_details_wkss .tops_tddds .date_wks_sr_list
{
    height: 22px;
    line-height: 22px;
    color: #666666;
    font-size: 13px;
    width: 90px;
    margin-left: 8px;
    float: left;
}

.right_icon_show_hidden
{
    width: 20px;
    height: 22px;
    overflow: hidden;
    margin-left: 5px;
    float: left;
    text-align: left;
}

    .right_icon_show_hidden img
    {
        display: block;
        margin-top: 4px;
    }

.searchs-results_list .srl_cons .rows_wks_sr_list .right_details_wkss .btm_descriptions
{
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: left;
    width: 680px;
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}

.search_page_right_ad_wk
{
    width: 150px;
    height: auto;
    overflow: hidden;
}

    .search_page_right_ad_wk a
    {
        display: block;
        width: 150px;
        overflow: hidden;
        height: 80px;
        margin-bottom: 15px;
    }

        .search_page_right_ad_wk a img
        {
            display: block;
            width: 148px;
            height: 78px;
            border: 1px #CCCCCC solid;
        }

/*Paging Index S*/
.pages_index_fenye_common_wks
{
    height: 26px;
    line-height: 26px;
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
}

    .pages_index_fenye_common_wks .inners_paging_wks
    {
        width: 560px;
        height: 26px;
        overflow: hidden;
        margin: 0px auto;
    }

        .pages_index_fenye_common_wks .inners_paging_wks a
        {
            border: 1px #999999 solid;
            display: block;
            font-size: 14px;
            color: #000000;
            height: 24px;
            line-height: 24px;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0px 7px 0px 7px;
            float: left;
            margin-right: 5px;
            text-align: center;
        }

            .pages_index_fenye_common_wks .inners_paging_wks a.currents-pages
            {
                background-color: #CCCCCC;
                cursor: default;
            }

        .pages_index_fenye_common_wks .inners_paging_wks font
        {
            display: block;
            font-size: 14px;
            color: #000000;
            height: 24px;
            line-height: 24px;
            font-family: 宋体;
            width: 20px;
            float: left;
            margin-right: 5px;
            text-align: center;
        }

        .pages_index_fenye_common_wks .inners_paging_wks a.pre-btn
        {
            width: 54px;
            border: 1px #CCCCCC solid;
            background-color: #800000;
            font-size: 14px;
            color: white;
            visibility: visible;
        }

        .pages_index_fenye_common_wks .inners_paging_wks a.pre-btn-none
        {
            visibility: hidden;
        }

        .pages_index_fenye_common_wks .inners_paging_wks a.next-btn
        {
            width: 54px;
            border: 1px #CCCCCC solid;
            background-color: #800000;
            font-size: 14px;
            color: white;
            visibility: visible;
        }

        .pages_index_fenye_common_wks .inners_paging_wks a.next-btn-none
        {
            visibility: hidden;
        }

        .pages_index_fenye_common_wks .inners_paging_wks a.pre-btn:hover, .pages_index_fenye_common_wks .inners_paging_wks a.next-btn:hover
        {
            background-color: #861515;
        }
/****Search List End****/




/*easydialog*/
button::-moz-focus-inner
{
    border: 0;
    padding: 0;
    margin: 0;
}

.easyDialog_wrapper
{
    width: 400px;
    color: #444;
    border: 3px solid rgba(0,0,0,0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: none;
    font-family: "Microsoft yahei", Arial;
}

    .easyDialog_wrapper .easyDialog_content
    {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #fec19c;
    }

    .easyDialog_wrapper .easyDialog_title
    {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        color: white;
        padding: 0 10px;
        font-size: 14px;
        border-bottom: 1px solid #e5e5e5;
        background: #800000;
        border-radius: 4px 4px 0 0;
        text-align: left;
    }

    .easyDialog_wrapper .close_btn
    {
        font-family: arial;
        font-size: 20px;
        _font-size: 13px;
        font-weight: 700;
        color: white;
        text-decoration: none;
        float: right;
    }

        .easyDialog_wrapper .close_btn:hover
        {
            color: #FF9900;
        }

    .easyDialog_wrapper .easyDialog_text
    {
        padding: 25px 10px;
        font-size: 13px;
        line-height: 22px;
    }

    .easyDialog_wrapper .easyDialog_footer
    {
        padding: 0 10px;
        *zoom: 1;
    }

        .easyDialog_wrapper .easyDialog_footer:after
        {
            content: '';
            display: block;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            clear: both;
        }

    .easyDialog_wrapper .btn_highlight,
    .easyDialog_wrapper .btn_normal
    {
        border: 1px solid;
        border-radius: 2px;
        cursor: pointer;
        font-family: "Microsoft yahei", Arial;
        float: right;
        font-size: 12px;
        padding: 0 12px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .easyDialog_wrapper .btn_highlight
    {
        background: #4787ed;
        background: -webkit-gradient(linear,center bottom,center top,from(#4787ed),to(#4d90fe));
        background: -moz-linear-gradient(90deg, #4787ed, #4d90fe);
        border-color: #3079ed;
        color: #fff;
    }

    .easyDialog_wrapper .btn_normal
    {
        margin-left: 10px;
        border-color: #c3c3c3;
        background: #ececec;
        color: #333;
        background: -webkit-gradient(linear,center bottom,center top,from(#ececec),to(#f4f4f4));
        background: -moz-linear-gradient(90deg,#ececec,#f4f4f4);
    }



/*jqzoom*/
div.jqZoomTitle
{
    z-index: 5000;
    text-align: center;
    font-size: 11px;
    font-family: Tahoma;
    height: 16px;
    padding-top: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #FFF;
    background: #999;
}

.jqZoomPup
{
    overflow: hidden;
    background-color: #FFF;
    -moz-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    z-index: 10;
    border-color: #c4c4c4;
    border-style: solid;
    cursor: crosshair;
}

    .jqZoomPup img
    {
        border: 0px;
    }

.preload
{
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    color: #333;
    font-size: 12px;
    font-family: Tahoma;
    text-decoration: none;
    border: 1px solid #CCC;
    background-color: white;
    padding: 8px;
    text-align: center;
    background-image: url(images/zoomloader.gif);
    background-repeat: no-repeat;
    background-position: 43px 30px;
    width: 90px;
    * width: 100px;
    height: 43px;
    *height: 55px;
    z-index: 10;
    position: absolute;
    top: 3px;
    left: 3px;
}

.jqZoomWindow
{
    border: 1px solid #999;
    background-color: #FFF;
}

.jqzoom img
{
    display: block;
    width: 378px;
    height: 277px;
}




.selects-cat
{
    width: 120px;
    overflow: hidden;
}

.selects-box
{
    width: 130px;
}

    .selects-box a.on
    {
        background: #D1E98E;
    }

    .selects-box a
    {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        color: #333;
    }





.boxheight
{
    height: 316px;
}

.halfmiddleheight
{
    height: 150px;
}

.boxheight a
{
    width: 110px;
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #333;
}

    .boxheight a:hover
    {
        text-decoration: none;
        background: #EEE;
    }
