<div class="grid_24">
    <div class="grid_4 alpha">
        <div class="common_six_grids"><a href="#">
            <img src="images/adddd.jpg"></a></div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids"><a href="#">
            <img src="images/adddd.jpg"></a></div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids"><a href="#">
            <img src="images/adddd.jpg"></a></div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids"><a href="#">
            <img src="images/adddd.jpg"></a></div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids"><a href="#">
            <img src="images/adddd.jpg"></a></div>
    </div>
    <div class="grid_4 omega">
        <div class="common_six_grids"><a href="#">
            <img src="images/adddd.jpg"></a></div>
    </div>
    <div class="clear"></div>
</div>
