<div class="grid_6 omega" style="float: right;">
    <div class="grid_6 alpha omega height_30"
        style="background-color: #800000; color: white; font-size: 14px; text-align: left; height: 29px; line-height: 29px;">
        &nbsp;&nbsp;&nbsp;&nbsp;物品分类
    </div>
    <div class="clear"></div>
    <div class="right_nav_category">
        <div class="fix_ie6_rit_border" id="fix_ie6_brders"></div>
        <ul style="margin-left: 0px;" class="inners_r_list_con" id="Right_Alert_Nav_List">


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">数码产品</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferSearch/Phone/1" target="_blank">手机</a></span>
                        <span><a href="/GoodsTransferSearch/Computer/1" target="_blank">电脑</a></span>
                        <span><a href="/GoodsTransferSearch/DigitalCamera/1" target="_blank">数码摄像器材</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferSearch/Phone/1" target="_blank">手机</a></span>
                                <span><a href="/GoodsTransferSearch/Computer/1" target="_blank">电脑</a></span>
                                <span><a href="/GoodsTransferSearch/DigitalCamera/1" target="_blank">数码摄像器材</a></span>
                                <span><a href="/GoodsTransferSearch/ComputerAccessories/1" target="_blank">电脑配件</a></span>
                                <span><a href="/GoodsTransferSearch/PlayStations/1" target="_blank">游戏机</a></span>
                                <span><a href="/GoodsTransferSearch/PSAccessories/1" target="_blank">游戏机配件</a></span>
                                <span><a href="/GoodsTransferSearch/PhoneAccessories/1" target="_blank">手机配件</a></span>
                                <span><a href="/GoodsTransferSearch/ElectronicsOther/1" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>


                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuySearch/Phone/1" target="_blank">手机</a></span>
                                <span><a href="/GoodsBuySearch/Computer/1" target="_blank">电脑</a></span>
                                <span><a href="/GoodsBuySearch/DigitalCamera/1" target="_blank">数码摄像器材</a></span>
                                <span><a href="/GoodsBuySearch/ComputerAccessories/1" target="_blank">电脑配件</a></span>
                                <span><a href="/GoodsBuySearch/PlayStations/1" target="_blank">游戏机</a></span>
                                <span><a href="/GoodsBuySearch/PSAccessories/1" target="_blank">游戏机配件</a></span>
                                <span><a href="/GoodsBuySearch/PhoneAccessories/1" target="_blank">手机配件</a></span>
                                <span><a href="/GoodsBuySearch/ElectronicsOther/1" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">居家用品</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferSearch/Furniture/1" target="_blank">家具</a></span>
                        <span><a href="/GoodsTransferSearch/KitchenAppliances/1" target="_blank">厨房家电</a></span>
                        <span><a href="/GoodsTransferSearch/AudioAppliances/1" target="_blank">视听家电</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferSearch/Furniture/1" target="_blank">家具</a></span>
                                <span><a href="/GoodsTransferSearch/KitchenAppliances/1" target="_blank">厨房家电</a></span>
                                <span><a href="/GoodsTransferSearch/AudioAppliances/1" target="_blank">视听家电</a></span>
                                <span><a href="/GoodsTransferSearch/KitchenDinningWares/1" target="_blank">餐具/厨具</a></span>
                                <span><a href="/GoodsTransferSearch/Decoration/1" target="_blank">工艺品/摆设</a></span>
                                <span><a href="/GoodsTransferSearch/OtherElectronics/1" target="_blank">其他家电</a></span>
                                <span><a href="/GoodsTransferSearch/GymEquipment/1" target="_blank">运动器材</a></span>
                                <span><a href="/GoodsTransferSearch/Bike/1" target="_blank">单车</a></span>
                                <span><a href="/GoodsTransferSearch/HomeSuppliesOther/1" target="_blank">其他</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>




                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuySearch/Furniture/1" target="_blank">家具</a></span>
                                <span><a href="/GoodsBuySearch/KitchenAppliances/1" target="_blank">厨房家电</a></span>
                                <span><a href="/GoodsBuySearch/AudioAppliances/1" target="_blank">视听家电</a></span>
                                <span><a href="/GoodsBuySearch/KitchenDinningWares/1" target="_blank">餐具/厨具</a></span>
                                <span><a href="/GoodsBuySearch/Decoration/1" target="_blank">工艺品/摆设</a></span>
                                <span><a href="/GoodsBuySearch/OtherElectronics/1" target="_blank">其他家电</a></span>
                                <span><a href="/GoodsBuySearch/GymEquipment/1" target="_blank">运动器材</a></span>
                                <span><a href="/GoodsBuySearch/Bike/1" target="_blank">单车</a></span>
                                <span><a href="/GoodsBuySearch/HomeSuppliesOther/1" target="_blank">其他</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">衣服鞋包</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferSearch/Clothing/1" target="_blank">衣服</a></span>
                        <span><a href="/GoodsTransferSearch/Shoes/1" target="_blank">鞋子</a></span>
                        <span><a href="/GoodsTransferSearch/Bag/1" target="_blank">箱包</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferSearch/Clothing/1" target="_blank">衣服</a></span>
                                <span><a href="/GoodsTransferSearch/Shoes/1" target="_blank">鞋子</a></span>
                                <span><a href="/GoodsTransferSearch/Bag/1" target="_blank">箱包</a></span>
                                <span><a href="/GoodsTransferSearch/Accessories/1" target="_blank">首饰</a></span>
                                <span><a href="/GoodsTransferSearch/FashionOther/1" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuySearch/Clothing/1" target="_blank">衣服</a></span>
                                <span><a href="/GoodsBuySearch/Shoes/1" target="_blank">鞋子</a></span>
                                <span><a href="/GoodsBuySearch/Bag/1" target="_blank">箱包</a></span>
                                <span><a href="/GoodsBuySearch/Accessories/1" target="_blank">首饰</a></span>
                                <span><a href="/GoodsBuySearch/FashionOther/1" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">文化生活</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferSearch/MusicInstruments/1" target="_blank">乐器</a></span>
                        <span><a href="/GoodsTransferSearch/Books/1" target="_blank">印刷品</a></span>
                        <span><a href="/GoodsTransferSearch/Toys/1" target="_blank">玩具模型</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuySearch/MusicInstruments/1" target="_blank">乐器</a></span>
                                <span><a href="/GoodsBuySearch/Books/1" target="_blank">印刷品</a></span>
                                <span><a href="/GoodsBuySearch/Toys/1" target="_blank">玩具模型</a></span>
                                <span><a href="/GoodsBuySearch/Stationary/1" target="_blank">文具</a></span>
                                <span><a href="/GoodsBuySearch/CultureLifeOther/1" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuyList/23" target="_blank">乐器</a></span>
                                <span><a href="/GoodsBuyList/24" target="_blank">印刷品</a></span>
                                <span><a href="/GoodsBuyList/25" target="_blank">玩具模型</a></span>
                                <span><a href="/GoodsBuyList/26" target="_blank">文具</a></span>
                                <span><a href="/GoodsBuyList/27" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>



            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">其他</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferSearch/OtherOther/1" target="_blank">Other</a></span>
                    </div>
                </div>

                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferSearch/OtherOther/1" target="_blank">Other</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuySearch/OtherOther/1" target="_blank">Other</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
