<div class="grid_6 omega" style="float: right;">
    <div class="grid_6 alpha omega height_30"
        style="background-color: #800000; color: white; font-size: 14px; text-align: left; height: 29px; line-height: 29px;">
        &nbsp;&nbsp;&nbsp;&nbsp;物品分类
    </div>
    <div class="clear"></div>
    <div class="right_nav_category">
        <div class="fix_ie6_rit_border" id="fix_ie6_brders"></div>
        <ul style="margin-left: 0px;" class="inners_r_list_con" id="Right_Alert_Nav_List">


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">数码产品</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferList/1" target="_blank">手机</a></span>
                        <span><a href="/GoodsTransferList/2" target="_blank">电脑</a></span>
                        <span><a href="/GoodsTransferList/3" target="_blank">数码摄像器材</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferList/1" target="_blank">手机</a></span>
                                <span><a href="/GoodsTransferList/2" target="_blank">电脑</a></span>
                                <span><a href="/GoodsTransferList/3" target="_blank">数码摄像器材</a></span>
                                <span><a href="/GoodsTransferList/4" target="_blank">电脑配件</a></span>
                                <span><a href="/GoodsTransferList/5" target="_blank">游戏机</a></span>
                                <span><a href="/GoodsTransferList/6" target="_blank">游戏机配件</a></span>
                                <span><a href="/GoodsTransferList/7" target="_blank">手机配件</a></span>
                                <span><a href="/GoodsTransferList/8" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>


                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuyList/1" target="_blank">手机</a></span>
                                <span><a href="/GoodsBuyList/2" target="_blank">电脑</a></span>
                                <span><a href="/GoodsBuyList/3" target="_blank">数码摄像器材</a></span>
                                <span><a href="/GoodsBuyList/4" target="_blank">电脑配件</a></span>
                                <span><a href="/GoodsBuyList/5" target="_blank">游戏机</a></span>
                                <span><a href="/GoodsBuyList/6" target="_blank">游戏机配件</a></span>
                                <span><a href="/GoodsBuyList/7" target="_blank">手机配件</a></span>
                                <span><a href="/GoodsBuyList/8" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">居家用品</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferList/9" target="_blank">家具</a></span>
                        <span><a href="/GoodsTransferList/10" target="_blank">厨房家电</a></span>
                        <span><a href="/GoodsTransferList/11" target="_blank">视听家电</a></span>>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferList/9" target="_blank">家具</a></span>
                                <span><a href="/GoodsTransferList/10" target="_blank">厨房家电</a></span>
                                <span><a href="/GoodsTransferList/11" target="_blank">视听家电</a></span>
                                <span><a href="/GoodsTransferList/12" target="_blank">餐具/厨具</a></span>
                                <span><a href="/GoodsTransferList/13" target="_blank">工艺品/摆设</a></span>
                                <span><a href="/GoodsTransferList/14" target="_blank">其他家电</a></span>
                                <span><a href="/GoodsTransferList/15" target="_blank">运动器材</a></span>
                                <span><a href="/GoodsTransferList/16" target="_blank">单车</a></span>
                                <span><a href="/GoodsTransferList/17" target="_blank">其他</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>




                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuyList/9" target="_blank">家具</a></span>
                                <span><a href="/GoodsBuyList/10" target="_blank">厨房家电</a></span>
                                <span><a href="/GoodsBuyList/11" target="_blank">视听家电</a></span>
                                <span><a href="/GoodsBuyList/12" target="_blank">餐具/厨具</a></span>
                                <span><a href="/GoodsBuyList/13" target="_blank">工艺品/摆设</a></span>
                                <span><a href="/GoodsBuyList/14" target="_blank">其他家电</a></span>
                                <span><a href="/GoodsBuyList/15" target="_blank">运动器材</a></span>
                                <span><a href="/GoodsBuyList/16" target="_blank">单车</a></span>
                                <span><a href="/GoodsBuyList/17" target="_blank">其他</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">衣服鞋包</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferList/18" target="_blank">衣服</a></span>
                        <span><a href="/GoodsTransferList/19" target="_blank">鞋子</a></span>
                        <span><a href="/GoodsTransferList/20" target="_blank">箱包</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferList/18" target="_blank">衣服</a></span>
                                <span><a href="/GoodsTransferList/19" target="_blank">鞋子</a></span>
                                <span><a href="/GoodsTransferList/20" target="_blank">箱包</a></span>
                                <span><a href="/GoodsTransferList/21" target="_blank">首饰</a></span>
                                <span><a href="/GoodsTransferList/22" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuyList/18" target="_blank">衣服</a></span>
                                <span><a href="/GoodsBuyList/19" target="_blank">鞋子</a></span>
                                <span><a href="/GoodsBuyList/20" target="_blank">箱包</a></span>
                                <span><a href="/GoodsBuyList/21" target="_blank">首饰</a></span>
                                <span><a href="/GoodsBuyList/22" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">文化生活</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferList/23" target="_blank">乐器</a></span>
                        <span><a href="/GoodsTransferList/24" target="_blank">印刷品</a></span>
                        <span><a href="/GoodsTransferList/25" target="_blank">玩具模型</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferList/23" target="_blank">乐器</a></span>
                                <span><a href="/GoodsTransferList/24" target="_blank">印刷品</a></span>
                                <span><a href="/GoodsTransferList/25" target="_blank">玩具模型</a></span>
                                <span><a href="/GoodsTransferList/26" target="_blank">文具</a></span>
                                <span><a href="/GoodsTransferList/27" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuyList/23" target="_blank">乐器</a></span>
                                <span><a href="/GoodsBuyList/24" target="_blank">印刷品</a></span>
                                <span><a href="/GoodsBuyList/25" target="_blank">玩具模型</a></span>
                                <span><a href="/GoodsBuyList/26" target="_blank">文具</a></span>
                                <span><a href="/GoodsBuyList/27" target="_blank">其他</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>



            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">其他</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/GoodsTransferList/28" target="_blank">Other</a></span>
                    </div>
                </div>

                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                               <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsTransferList/28" target="_blank">Other</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/GoodsBuyList/28" target="_blank">Other</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>



        </ul>
    </div>
</div>
<div class="clear"></div>
