@{
    ViewBag.Title = "Float";
}

<style>
    .pix1
    {
        background-position: -219px 0;
    }

    .pi
    {
        position: relative;      
        right: -90px;
        top: -20px;
        width: 40px;
        height: 41px;
        padding-left: 8px;
        background-image: url(http://misc.360buyimg.com/product/skin/2012/i/20120209D.png);
        background-repeat: no-repeat;
        font-family: "microsoft yahei";
        color: white;
        line-height: 41px;
        overflow: hidden;
        font-size: 16px;
        zoom: 1;
    }
</style>



<div class="grid_24">
    <div class="grid_18 alpha">
        <div class="grid_4 alpha">
            <div style="border: 1px solid red;">
                <a href="#">
                    <b class="pi pix1"><span>9.8折</span>
                    </b>
                    <img src="http://img13.360buyimg.com/n3/g5/M02/1B/1F/rBEIDFAjXZkIAAAAAAEJ75-oXXEAAFdogNCjNAAAQoH626.jpg" />
                </a>
            </div>
        </div>
        <div class="grid_14 omega">
            <div style="border: 1px solid red;">
                &nbsp;
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="grid_6 omega">
        <div style="border: 1px solid red;">
            &nbsp;
        </div>
    </div>

</div>
