<div class="grid_24">
    <div class=" logo" style="padding: 4px; padding-bottom: 10px;">
        <h1>
            <a href="/">
                 <img src="/Content/images/logo_v2.png"  alt="英淘网"/>
            </a>
        </h1>

    </div>
</div>

<div class="grid_24">
    <ul id="flows" class="flow clearfix">
        <li class="flow-item flow-item-first flow-item-done flow-item-1">
            1.选择类目 <i class="diamond"></i><i class="diamond diamond-next"></i>
        </li>
        <li class="flow-item  flow-item-2">
            2.填写车辆转让信息 <i class="diamond"></i><i class="diamond diamond-next"></i>
        </li>
        <li class="flow-item flow-item-last flow-item-3">
            3.发布成功 <i class="diamond"></i><i class="diamond diamond-next"></i>
        </li>
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var flowindex = document.getElementById('flow').value;
        $("#flows li").eq(flowindex).addClass("flow-item-current");
    });
</script>


