<div class="grid_24">
    <div class="grid_18 alpha">
        @Html.Partial("Flash")
    </div>
    <div class="grid_6 omega" style="float: right; overflow: hidden;">
        @Html.Partial("Menu")
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>