<div class="alert_tips_frames_dm" id="alerts_fra_wks" style="position: absolute; background: none;">
    <div class="inner_atfd_wks" id="alerts_fra_wks_in">
        <a href="javascript:void(0)" onclick="document.getElementById('alerts_fra_wks').style.display='none'" class="close_btn_r_d_off" onmouseover="this.className='close_btn_r_d_on'" onmouseout="this.className='close_btn_r_d_off'" title="关闭"></a>
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("alert_top_icons.png")" class="ai_tops_img" />
        <div class="ai_conts">
            <div class="tops_tips_words">想去初出茅庐，<br />
                还请各位客官多多提意见建议</div>
            <div class="inputs_wks_d_m">
                <textarea onblur="search_input_changes(this,0)" onfocus="search_input_changes(this,1)">英国华人信息发布平台</textarea>
                <div class="btn_submits_d">
                    <input class="oo_off" type="submit" value="提 交" onmouseover="this.className='oo_on'" onclick="document.getElementById('alerts_fra_wks').style.display='none'" onmouseout="this.className='oo_off'" /></div>
            </div>
        </div>
    </div>
</div>
