@{
    ViewBag.Title = "密码找回";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account"))
{
    <div class="grid_24">
        <div class="grid_24" style="font-size: 14px;">
            请输入您的帐号并填写相应密保，正确后系统会重置密码，请注意及时获取并修改密码.
              <br />
            <br />
        </div>
        <br />
        <div class="clear"></div>
        <div class="grid_24">
            <div>
                帐号：
                <input id="useremail" name="useremail" type="text" />
            </div>
            <div>
                密保：
                <select name="passwordQuestion" id="passwordQuestion">
                    <option>请选择密保查询问题</option>
                    <option value="我手机号码的后6位？">我手机号码的后6位？</option>
                    <option value="我母亲的生日？">我母亲的生日？</option>
                    <option value="我父亲的生日？">我父亲的生日？</option>
                    <option value="我最好朋友的生日？">我最好朋友的生日？</option>
                    <option value="我儿时居住地的地址？">我儿时居住地的地址？</option>
                    <option value="我小学校名全称？">我小学校名全称？</option>
                    <option value="我中学校名全称？">我中学校名全称？</option>
                    <option value="离我家最近的医院全称？">离我家最近的医院全称？</option>
                    <option value="离我家最近的公园全称？">离我家最近的公园全称？</option>
                    <option value="我的座右铭是？">我的座右铭是？</option>
                    <option value="我最喜爱的电影？">我最喜爱的电影？</option>
                    <option value="我最喜爱的歌曲？">我最喜爱的歌曲？</option>
                    <option value="我最喜爱的食物？">我最喜爱的食物？</option>
                    <option value="我最大的爱好？">我最大的爱好？</option>
                    <option value="我最喜欢的小说？">我最喜欢的小说？</option>
                    <option value="我最喜欢的运动队？">我最喜欢的运动队？</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <div>
                答案：
                @Html.TextBox("passwordAnswer")
            </div>
            <div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <input id="Submit1" type="submit" value="确定" class="btn btn-warning" />
            </div>
        </div>
        <div class="clear"></div>
        <div class="grid_24">
            <span style="color: red;">@ViewBag.Tip</span>
        </div>
        <div class="clear"></div>
    </div>    
    <div class="interval_30"></div>
    <div class="interval_30"></div>
    <div class="interval_30"></div>

}
