@{
    ViewBag.Title = "密码找回";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account"))
{
    <div class="grid_24">
        <div class="grid_24" style="font-size:14px;">
            &nbsp;&nbsp;请输入您的邮箱地址，系统会自动发送随即的密码到您的邮箱，请注意及时修改密码.
        </div>
        <div class="clear"></div>
        <div class="grid_24">
            <div class="grid_4">
                <input id="useremail" name="useremail" type="text" /></div>
            <div class="grid_20">
                <input id="Submit1" type="submit" value="确定" class="btn btn-success" /></div>
        </div>
        <div class="clear"></div>
        <div class="grid_24">
            <span style="color: red;">@ViewBag.Tip</span>
        </div>
        <div class="clear"></div>
    </div>    
    <div class="interval_30"></div>
    <div class="interval_30"></div>
    <div class="interval_30"></div>

}
