<div class="auth-side">
    加入我们，<br />
    与 <strong style="color: green">@ViewBag.UserCount</strong>名用户做邻居<br />
    <br />
    已经有账号了？
   <a href="/Account/Login" class="btn btn-warning">立即登录英淘网</a>
</div>
