<div class="auth-side">
    加入我们，<br />
    与 <strong style="color: #ffd800">@ViewBag.UserCount &nbsp;&nbsp;</strong>名用户做邻居<br />
    <br />
    还没有账号？
	<a class="btn btn-warning" href="/Account/Register">注册</a>
    <br />
    <br />
    忘记帐号了？
    <a class="btn btn-warning" href="/Account/ResetPassword">找回</a>
</div>
