<div class="auth-side">
    加入我们，<br />
    与 <strong style="color: green">@ViewBag.UserCount</strong>名用户做邻居<br />
    <br />
    还没有账号？
	<a class="btn btn-danger" href="/Account/Register">注册</a>
</div>
