@model List<Fx.Entity.FxCar.CarBuyInfo>
@foreach (var item in Model)
{
    <div class="rows_wks_sr_list">
        <div class="right_details_wkss" style="width: 750px;">
            <div class="tops_tddds">
                <div class="tops_tddds_names"><a href="/CarBuyDetail/Index/@item.CarBuyInfoId" target="_blank">@item.PublishTitle</a></div>
                <div class="shows_price_or_exchange_ico">@item.Price</div>
                <div class="date_wks_sr_list">@item.CreatedTime.ToString("yy-MM-dd")</div>
                <div class="right_icon_show_hidden">
                    &nbsp;                    
                    @*<img src="images/exchange-ico.jpg" />*@
                </div>
            </div>
            <div class="btm_descriptions">@item.PublishTitle</div>
        </div>
        <div class="clear"></div>
    </div>
}
