@{
    ViewBag.Title = "About";
}

<div class="grid_24">
    <h1 class="typo-h1">网站简介</h1>
    <div class="typo">
        <h3>英淘网，2012年12月成立于英国，致力于为英国华人打造全面的生活服务平台。
        <br>
            <br>
            我们将以‘通过互联网使生活更简单’作为我们的使命，‘英国华人信赖的生活服务平台’当做我们的景愿，秉承‘英淘网，就在你身边’的品牌定位，深入了解英国华人的需求，开拓服务板块，研发创新技术。

	<br>
            <br>
            目前，英淘网已开放物品交易，车辆买卖，房屋信息等3大板块，地域将覆盖英格兰九大行政区，苏格兰，威尔士，北爱尔兰下的主要城市。<br>
            <br>
            在为广大英国华人服务的同时，我们也为广大商家提供商家黄页，定向精准的广告推广等服务。<br>
            <br>
            英淘网将坚持不懈的完善服务平台，为广大英国华人提供生活的便利，让用户的生活更简单。
        </h3>
        <br>
        <br>

        <h3>英淘网文化
        </h3>
        <h3>使命：</h3>
        通过互联网使生活更简单
	<h3>景愿：</h3>
        英国华人信赖的生活服务平台
	<h3>品牌定位：</h3>
        英淘网，就在你身边
        <h3>核心价值观：</h3>
        用户至上，锐意进取，抱诚守真
    </div>
</div>
<div class="interval_20"></div>
<div class="clear"></div>
