@{
    ViewBag.Title = "英淘网用户协议";
}

<div class="grid_24">

    <h1 class="typo-h1">用户协议</h1>
    <div class="typo">
        以下的条款将作为英淘网用户在使用英淘网网站服务时与英淘网达成的协议约定。英淘网的各项服务的所有权和运营权属上海客齐集信息技术有限公司（以下称为“客齐集”）所有。


        <h3>前言</h3>
        英淘网是一个网络分类信息网站，简单，本地化是英淘网的最大特色。 英淘网上的信息是由用户自行发布，所有内容均由发布者对信息的真实性负责。鉴于用户在发布免费信息时不需要提供身份证件，我们无法对发布者的身份进行核对，故本网站不对用户发布信息内容的真实性负责。


        <h3>1. 用户协议的接受和修改</h3>
        英淘网提供包括分类信息浏览，发布和电子公告板等服务（以下称“英淘网服务”）。无论用户以任何方式使用英淘网服务，包括但不限于发布信息，浏览信息，发布广告，均被认为用户已经阅读和接受本协议。本网站英淘网有权随时单方面修改本条款并无需通知用户或取得用户的同意，如果不同意其中任何的修订内容，用户可以主动停止使用服务，如果用户继续享用服务，则视为无条件接受条款的变动。英淘网行使修改或中断服务的权利，不需对用户或第三方负责，用户可以在http://bbs.baixing.com/thread-321470-1-1.html获得最新的用户协议。用户需要经常查看本协议，以便知晓这些修订，英淘网有权利通过包括但不限于删除信息，终止账户，屏蔽IP地址、关键字、联系方式，或法律诉讼等方式执行本用户协议。本协议中提及的各项规则文本都是本用户协议的附件，是本用户协议不可分割的部分。

        <h3>2. 用户资格</h3>
        本网站的服务仅向18岁以上有完全民事行为人提供。用户同意英淘网享有单方面无理由禁止某一用户使用英淘网服务的权利。本网站不对用户所发布信息的删除或储存失败负责，同时，使用英淘网就意味着你同意英淘网将你发帖时候使用的IP地址显示出来作为你的身份标识。


        <h3>3. 内容</h3>
        使用本网站的服务前，用户理解本网站提供的分类及论坛内的所有信息，包括其中包含的文字，图片，链接等（以下称“内容”）均由用户自行上传，并且承担全部责任，本网站不对信息的真实性，准确性，有效性和安全性负责，用户在交易中发生的任何纠纷与本网站无关。为了最大限度地保障用户的权益不被侵害，我们制定了“安全交易须知”，“安全交易须知”可以在以下网址获得：<a href="/Pagelink/PaymentNotice" target="_blank">安全交易须知</a>。用户必须保证用户自己拥有提供的信息的版权，当用户向英淘网提供内容时，用户即授予英淘网永久性的，全球的，不可撤销的，免使用费的，可再次授权给他人的使用权，用户同意用户必须自己评估和承担在英淘网上提供和使用内容而产生的一切风险、损失。


        <h3>4. 禁止</h3>
        用户应在适当的栏目或分类内发布，浏览或使用信息，不应做出任何法律法规禁止的行为。本网站现有的“禁止性内容规则”可以在以下网址获得：<a href="/Pagelink/Forbidden" target="_blank">禁止内容</a>。


        <h3>5. 公约</h3>
        为了网站的健康发展，英淘网和用户一起制定了英淘网公约，所有英淘网用户都需要遵守此公约，违反公约将会导致被删除信息，终止账户，屏蔽IP地址、关键字、联系方式，或法律诉讼。公约可以在以下网址获得：<a href="/Pagelink/Convention" target="_blank">公约</a>。


        <h3>6. 费用与服务</h3>
        英淘网网站原则上是个免费的分类信息网站，但我们针对网站上的特定服务收费。若用户所使用的服务需收取费用，用户有权决定是否使用并接受该收费服务。英淘网上的收费服务以人民币计价，定价上可能随时调整。我们将以网站公告的方式，来通知用户收费政策的变更。本网站也可选择在促销或新服务推出时，暂时调整我们的费用，该调整于我们公布促销或新服务时起开始生效，付费服务是在系统接收到用户的付款后才开始。请注意：付费服务功能一旦开始，用户不得以任何理由要求减少时间或退款，若因个人行为（如:自行删除）或发布信息内容违反英淘网公约（公约以付费实际发生时的公约为准）而被转移类目或被删除，英淘网将不予退款。

        <h3>7. 账户余额</h3>
        英淘网账户余额是英淘网内部使用的现金账户，方便用户进行付费产品的购买，或者享受更多的优惠。用户可以使用充值的方式增加英淘网账户的余额，同时英淘网也会通过活动的方式奖励一定的现金到用户的英淘网账户中。所有账户余额中的部分都仅限于在英淘网内部进行使用，不能提现或退款。


        <h3>8. 侵权通知</h3>
        用户同意在发现本网站上的任何内容不符合法律规定，不符合本用户协议规定，或不符合英淘网公约的规定时，用户有权利和义务通过点击“举报”链接向英淘网汇报。 当用户相信用户的个人信息被盗用，或者用户的版权或者其他权利被侵害，请将此情况报告给英淘网。我们接受在线提交（请点击首页下方的“电话被盗用”链接并按要求提交信息）或书面邮寄方式，书面通知请邮寄到如下地址： 中国上海市广元西路55号1808室英淘网举报受理部，邮政编码：200030 请同时提供以下信息： 1）侵犯用户权利的信息的网址，编号或其他可以找到该信息的细节； 2）用户保证用户是所述的版权或个人信息的合法拥有者的声明； 3）用户提供初步能证明侵权的证据； 4）用户的姓名，地址，电话号码和电子邮件； 5）用户的签名 英淘网会在核实后，根据相应法规予以配合处理。英淘网同样保留在用户提供的证据不尽充分翔实或是难以与用户取得联系进一步核实时暂停处理侵权通知的权利。


        <h3>9. 免责</h3>
        鉴于本网站仅作为用户网上发布信息的网络平台提供者，并非信息的发布者；用户上传的内容，没有经过英淘网事先审查，因此英淘网无法保证其内容的真实性、准确性、有效性和安全性。同时，本网站既没有事先审核，也没有事后参与用户的实际联络。用户确认在使用本网站所提供的服务前，用户已经知晓，理解并认可此情况。用户在使用非英淘网自行上传的内容时遭受的损失和其它一切后果由用户独自承担。 用户如因为浏览本网站的内容或第三方发布和上传的内容而因此遭受到任何损失，或与其他用户发生争议，就上述损失或争议或任何方面产生有关的索赔、要求、诉讼、损失和损害，用户同意免除英淘网、客齐集和本网站的管理层、董事、代理人、关联公司、母公司、子公司和雇员的责任。 由于英淘网上的大多数内容来自用户，本网站不保证这些信息和用户联络方式的准确性和有效性、以及所提供内容质量的安全性或合法性，用户同意不就其他用户发布的内容或所作所为追究本网站的责任。本网站对于用户由于使用英淘网而造成的任何金钱、商誉、名誉的损失，或任何特殊的、间接的、或结果性的损失都不负任何责任。用户同意就用户自身行为之合法性单独承担责任，用户同意，英淘网和英淘网的所有关联公司和相关实体对本网站用户的行为的合法性不承担任何责任。


        <h3>10. 隐私</h3>
        本网站的现有隐私保护条款可以在以下网址获得：<a href="/Pagelink/Privacy" target="_blank">隐私权保护规则</a> 用户使用英淘网提供的任何服务包括但不限于发布信息，浏览信息，发布广告等将导致用户的IP地址为英淘网获得并在网页中显示作为用户的身份标识，同时英淘网将可能根据法律法规的规定向第三方提供该IP地址，用户对此表示知情并认可。


        <h3>11. 补偿</h3>
        就任何第三方提出的，由于用户违反本协议或用户违反任何法律法规或第三方的权利而引起的任何性质的索赔、要求、诉讼、损失和损害，包括合理的律师费，用户同意就此对本网站进行补偿并使其免受损害。


        <h3>12. 争议的解决</h3>
        本协议的所有内容和条款均受中华人民共和国法律管辖。与本网站内容、服务相关的争议、本网站所有用户间的争议、网站与用户间的争议等全部相关争议均不可撤销地受客齐集所在地人民法院的管辖。用户自愿放弃选择以网络终端、服务器所在地、侵权行为所在地等其它地点作为相关管辖地的权利。本协议的规定是可分割的，如本协议的任何规定被裁定为无效或不可执行，该规定可被删除而其余条款继续有效并应予以执行。用户同意，在发生并购时，本协议和所有纳入的协议所确定的权利可由英淘网自行酌情决定向第三方转让。本网站未就用户或其他方的违约行为采取行动并不等于本网站放弃就随后或类似的违约行为采取行动的权利。


        <h3>13. 通知与披露</h3>
        与本网站提供服务有关的用户协议和服务条款的修改、服务的变更、收费政策的变更或其它重要事件的通告都会以网站发布的方式通知用户。
    </div>
</div>
