@{
    ViewBag.Title = "英淘网公约";
}

<style type="text/css">
    #bangui ul li {
        padding: 3px 0 6px;
    }

    #bangui h2 {
        color: #08c;
    }
</style>
<div class="grid_24">

    <h1 class="typo-h1">公约</h1>
    <div class="typo">
        <div class="typo" id="bangui">
            <div>
                <h2>一、基本原则</h2>
                <ol>
                    <li>英淘网是一个本地信息栏网站，我们的目标是为每个城镇建立一个生机勃勃的信息栏。</li>
                    <li>为了维护英淘网的正常秩序，本规则根据<a href="http://yingtao.co.uk/Pagelink/Forbidden">《互联网违禁信息》</a>
                        及<a href="http://yingtao.co.uk/Pagelink/Agreement">《英淘网用户协议》</a>制定并执行。</li>
                    <li>英淘网有权依照本规则对违规行为进行独立的判断与处理。英淘网依靠有限的技术手段和普通人的认知，
                        以及在用户提交的证据和陈述的事实基础上进行判断与处理。</li>
                    <li>发现信息被删除且有异议的用户，可以提交申诉，英淘网信息安全审核部门会对其账户中的所有信息都重新审核一遍。</li>
                    <li>英淘网用户在适用规则上一律平等，付费信息也必须遵守公约中的所有条款。使用英淘网即表示愿意遵守本规则。</li>
                    <li>英淘网有权随时变更本规则并在网站上予以公告，且变更条款适用于所有随后的使用。</li>
                    <li>为保证英淘网上的信息是新鲜的，信息过期或发布180天后将自动删除，英淘网不提供任何备份。</li>
                </ol>
            </div>
            <div>
                <h2>二、发布和内容限制</h2>
                <ul>
                    <li id="异常联系方式"><strong>异常联系方式</strong><br />
                        构成异常联系方式的情况包括：<br />
                        - 图片中留有联系方式；<br />
                        - 填写电话为“①③⑤”“一三五”“1-3-5”等。</li>
                    <li id="车商"><strong>车商</strong><br />
                        不允许“车辆买卖”类目中的商家、黄牛等以个人名义发布信息。</li>
                    <li id="工作中介"><strong>工作中介</strong><br />
                        不允许“劳务派遣、职业介绍、代理招聘”等以公司直招名义发布信息。</li>
                </ul>
            </div>

            <div>
                <h2>三、账户限制</h2>
                <ul>
                    <li id="临时禁发"><strong>临时禁发</strong><br />
                        2天内违反“错类删除、不适合英淘网、色情低俗、多城市发布、评论信息”3次以上的用户，将被禁止发布2天。</li>
                    <li id="严重违反版规"><strong>严重违反版规</strong><br />
                        违反“虚假欺诈、违法违规、电话号码盗用”的用户，其电脑、账户及信息中包含的联系方式都将被禁止发布。</li>
                </ul>
            </div>

            <div>
                <h2>四、类目限制</h2>
                <div id="物品交易">
                    <h3 class="glist-title">物品交易</h3>
                    <ul>
                        <li id="物品交易违法违规"><strong>违法违规</strong><br />
                            不允许发布违法或违反<a href="http://yingtao.co.uk/Pagelink/Agreement" target="_blank">《英淘网用户协议》</a>的信息；<br />
                            不允许发布买卖“涉警、涉暴、涉赌、涉毒、人体器官”等物品的信息。<br />
                        </li>
                        <li id="物品交易不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息；<br />
                            不允许发布买卖“电视棒、卫星天线、卡王、驾照分、火车票、发票、流通中的各国货币、大量烟酒”的信息。<br />
                        </li>
                        <li id="物品交易二手商家"><strong>二手商家</strong><br />
                            不允许“商家、黄牛、厂家直销”以个人名义发布信息；<br />
                            如果您是“商家、黄牛、厂家”，请选择“商家”标签发布。
                        </li>
                        <li id="物品交易类目发布超限"><strong>类目发布超限</strong><br />
                            每个用户一个自然月内最多发布30条信息。
                        </li>
                        <li id="物品交易错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            不允许颠倒求购与转让属性发布信息；<br />
                            山寨或高仿产品只能选择“山寨/高仿”发布；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="http://yingtao.co.uk/jiameng/">招商加盟</a>类目；<br />
                        </li>
                        <li id="物品交易虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 被用户投诉骗取汇款；<br />
                            - 出售商品的价格与市场规律不符。<br />
                        </li>
                    </ul>
                </div>
                <div id="车辆买卖">
                    <h3 class="glist-title">车辆买卖</h3>
                    <ul>
                        <li id="车辆买卖违法违规"><strong>违法违规</strong><br />
                            不允许买卖黑车、走私套牌车；<br />
                            不允许发布违法或违反<a href="http://yingtao.co.uk/Pagelink/Agreement" target="_blank">《英淘网用户协议》</a>的信息。
                        </li>
                        <li id="车辆买卖不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布出售无手续不能过户车、出租车计价器的信息；<br />
                            不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息。
                        </li>
                        <li id="车辆买卖车商"><strong>车商</strong><br />
                            不允许“车辆买卖”类目中的商家、黄牛等以个人名义发布信息；<br />
                            如果您是“商家、黄牛”，请选择“车商”标签发布。</li>
                        <li id="车辆买卖错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下；<br />
                            不允许颠倒求购与转让属性发布信息；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="http://yingtao.co.uk/jiameng/">招商加盟</a>类目。<br />
                        </li>
                        <li id="车辆买卖虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 被用户投诉骗取汇款；<br />
                            - 出售商品的价格与市场规律不符。<br />
                        </li>
                    </ul>
                </div>

                <div id="房屋租售">
                    <h3 class="glist-title">房屋租售</h3>
                    <ul>
                        <li id="房屋租售不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许使用群发器等代发工具发布信息；<br />
                        </li>
                        <li id="房屋租售房中介冒充个人"><strong>房屋中介冒充个人</strong><br />
                            不允许“房产经纪人、开发商、二房东”以个人名义发布信息；<br />
                        </li>
                        <li id="房屋租售类目发布超限"><strong>类目发布超限</strong><br />
                            用户每天每个城市每个类目最多发布10条信息，个人用户最多发布3条信息。<br />
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <p><a href="mailto:customerservice@yingtao.co.uk">英淘网客服Email</a></p>
    </div>
</div>

