@{
    ViewBag.Title = "英淘网公约";
}


<div class="grid_24">

    <h1 class="typo-h1">公约</h1>
    <div class="typo">
        <style>
            #bangui ul li {
                padding: 3px 0 6px;
            }

            #bangui h2 {
                color: #08c;
            }
        </style>

        <div class="typo" id="bangui">
            <div>
                <h2>一、基本原则</h2>
                <ol>
                    <li>英淘网是一个本地信息栏网站，我们的目标是为每个城镇建立一个生机勃勃的信息栏。</li>
                    <li>为了维护英淘网的正常秩序，本规则根据<a href="/Page/Forbidden">《互联网违禁信息》</a>及<a href="/Pagelink/Agreement">《英淘网用户协议》</a>制定并执行。</li>
                    <li>英淘网有权依照本规则对违规行为进行独立的判断与处理。英淘网依靠有限的技术手段和普通人的认知，以及在用户提交的证据和陈述的事实基础上进行判断与处理。</li>
                    <li>发现信息被删除且有异议的用户，可以提交申诉，英淘网信息安全审核部门会对其账户中的所有信息都重新审核一遍。</li>
                    <li>英淘网用户在适用规则上一律平等，付费信息也必须遵守公约中的所有条款。使用英淘网即表示愿意遵守本规则。</li>
                    <li>英淘网有权随时变更本规则并在网站上予以公告，且变更条款适用于所有随后的使用。</li>
                    <li>为保证英淘网上的信息是新鲜的，信息过期或发布60天后将自动删除，英淘网不提供任何备份。</li>
                </ol>
            </div>
            <div>
                <h2>二、发布和内容限制</h2>
                <ul>
                    <li id="异常联系方式"><strong>异常联系方式</strong><br />
                        构成异常联系方式的情况包括：<br />
                        - 图片中留有联系方式；<br />
                        - 填写电话为“①③⑤”“一三五”“1-3-5”等。</li>
                    <li id="手机验证"><strong>手机验证</strong><br />
                        未验证手机号码的账户需要通过手机验证才能发布信息。</li>
                    <li id="多城市发布超限"><strong>多城市发布超限</strong><br />
                        60天内最多在4个城市免费发布信息。</li>
                    <li id="类目发布超限"><strong>类目发布超限</strong><br />
                        除某些类目有特殊规定外，每天每个城市每个类目最多发布3条信息。</li>
                    <li id="重复删除"><strong>重复删除</strong><br />
                        不允许发布实质内容相同或描述相似的信息，相同或相似的信息默认只留最新的一条。</li>
                    <li id="错类删除"><strong>错类删除</strong><br />
                        英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下。</li>
                    <li id="评论信息"><strong>评论信息</strong><br />
                        评论类信息请发布至<a href="http://www.baixing.com/feed/?fid=1" target="_blank">讨论区</a>。</li>
                    <li id="色情低俗"><strong>色情低俗</strong><br />
                        不允许发布色情服务或淫秽低俗的信息。</li>
                    <li id="虚假欺诈"><strong>虚假欺诈</strong><br />
                        不允许发布欺诈或不实的信息；<br />
                        不允许发布长期扰乱英淘网秩序，有损英淘网用户利益的信息。</li>
                    <li id="违法违规"><strong>违法违规</strong><br />
                        不允许发布违法或违反<a href="http://bbs.baixing.com/thread-318337-1-1.html" target="_blank">《互联网违禁信息》</a>的信息。</li>
                    <li id="不适合英淘网"><strong>不适合英淘网</strong><br />
                        不允许注册多个账号发布信息；<br />
                        不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息。</li>
                    <li id="电话号码盗用"><strong>电话号码盗用</strong><br />
                        英淘网不允许发布含有别人联系方式的信息。</li>
                    <li id="二手商家"><strong>二手商家</strong><br />
                        不允许“商家、黄牛、厂家直销”以个人名义发布信息。</li>
                    <li id="房中介冒充个人"><strong>房中介冒充个人</strong><br />
                        不允许“房产经纪人、开发商、二房东”以个人名义发布信息；<br />
                        如果您是“房产经纪人、开发商、二房东”，请选择“经纪人”标签发布。</li>
                    <li id="车商"><strong>车商</strong><br />
                        不允许“车辆买卖”类目中的商家、黄牛等以个人名义发布信息；</li>
                    <li id="工作中介"><strong>工作中介</strong><br />
                        不允许“劳务派遣、职业介绍、代理招聘”等以公司直招名义发布信息。</li>
                    <li id="营业执照验证"><strong>营业执照验证</strong><br />
                        担保/贷款类目，需要通过营业执照验证以后才能发布信息,请点击查看<a href="http://bbs.baixing.com/viewthread.php?tid=973791&amp;page=1&amp;extra=#pid1422314" target="_blank">《营业执照验证须知》</a>。<br />
                    </li>
                </ul>
            </div>

            <div>
                <h2>三、账户限制</h2>
                <ul>
                    <li id="临时禁发"><strong>临时禁发</strong><br />
                        2天内违反“错类删除、不适合英淘网、色情低俗、多城市发布、评论信息”3次以上的用户，将被禁止发布2天。</li>
                    <li id="严重违反版规"><strong>严重违反版规</strong><br />
                        违反“虚假欺诈、违法违规、电话号码盗用”的用户，其电脑、账户及信息中包含的联系方式都将被禁止发布。</li>
                </ul>
            </div>

            <div>
                <h2>四、类目限制</h2>
                <div id="物品交易">
                    <h3 class="glist-title">物品交易</h3>
                    <ul>
                        <li id="物品交易违法违规"><strong>违法违规</strong><br />
                            不允许发布违法或违反<a href="http://bbs.baixing.com/thread-318337-1-1.html" target="_blank">《互联网违禁信息》</a>的信息；<br />
                            不允许发布买卖“涉警、涉暴、涉赌、涉毒、人体器官”等物品的信息。<br />
                        </li>
                        <li id="物品交易不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息；<br />
                            不允许发布买卖“电视棒、卫星天线、卡王、驾照分、火车票、发票、流通中的人民币、大量烟酒”的信息。<br />
                        </li>
                        <li id="物品交易二手商家"><strong>二手商家</strong><br />
                            不允许“商家、黄牛、厂家直销”以个人名义发布信息；<br />
                            如果您是“商家、黄牛、厂家”，请选择“商家”标签发布。
                        </li>
                        <li id="物品交易类目发布超限"><strong>类目发布超限</strong><br />
                            每个用户一个自然月内最多发布10条信息。
                        </li>
                        <li id="物品交易错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            不允许颠倒求购与转让属性发布信息；<br />
                            山寨或高仿产品只能选择“山寨/高仿”发布；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="/jiameng/">招商加盟</a>类目；<br />
                        </li>
                        <li id="物品交易虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 被用户投诉骗取汇款；<br />
                            - 出售商品的价格与市场规律不符。<br />
                        </li>
                    </ul>
                </div>
                <div id="车辆买卖">
                    <h3 class="glist-title">车辆买卖</h3>
                    <ul>
                        <li id="车辆买卖违法违规"><strong>违法违规</strong><br />
                            不允许买卖黑车、走私套牌车；<br />
                            不允许发布违法或违反<a href="http://bbs.baixing.com/thread-318337-1-1.html" target="_blank">《互联网违禁信息》</a>的信息。
                        </li>
                        <li id="车辆买卖不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布出售无手续不能过户车、出租车计价器、上海加油牌的信息；<br />
                            不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息。
                        </li>
                        <li id="车辆买卖车商"><strong>车商</strong><br />
                            不允许“车辆买卖”类目中的商家、黄牛等以个人名义发布信息；<br />
                            如果您是“商家、黄牛”，请选择“车商”标签发布。</li>
                        <li id="车辆买卖错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            下线车信息只能发布到<a href="/xiaxianche/">本地下线车</a>类目；<br />
                            不允许颠倒求购与转让属性发布信息；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="/jiameng/">招商加盟</a>类目。<br />
                        </li>
                        <li id="车辆买卖虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 被用户投诉骗取汇款；<br />
                            - 出售商品的价格与市场规律不符。<br />
                        </li>
                    </ul>
                </div>
                <div id="交友活动">
                    <h3 class="glist-title">交友活动</h3>
                    <ul>
                        <li id="交友活动违法违规"><strong>违法违规</strong><br />
                            构成违法违规的行为包括：<br />
                            - 提供色情服务；<br />
                            - 长期发布色情低俗信息或情节严重。<br />
                        </li>
                        <li id="交友活动二手商家"><strong>二手商家</strong><br />
                            不允许俱乐部、旅行社、租车类商家以个人发布信息；<br />
                            如果您是“俱乐部、旅行社、租车类商家”，请选择“商家”标签发布。</li>
                        <li id="交友活动类目发布超限"><strong>类目发布超限</strong><br />
                            “征婚、男找女、女找男”类目，每个城市只能留有1条正常信息。<br />
                        </li>
                        <li id="交友活动错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            不允许发布代理、推广类信息；<br />
                            不允许将男找女信息发布到<a href="/nvzhaonan/">女找男</a>类目；<br />
                            不允许将交友群和婚介信息发布到“男找女、女找男、征婚”类目。<br />
                        </li>
                        <li id="交友活动色情低俗"><strong>色情低俗</strong><br />
                            不允许发布包含“一夜情、找情人、包养”等色情及隐晦色情字词的信息。<br />
                        </li>
                        <li id="交友活动虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 酒托/饭托等；<br />
                            - 被用户投诉骗取汇款。<br />
                        </li>
                    </ul>
                </div>
                <div id="全职招聘">
                    <h3 class="glist-title">全职招聘</h3>
                    <ul>
                        <li id="全职招聘违法违规"><strong>违法违规</strong><br />
                            不允许发布色情招聘的信息；<br />
                            不允许发布捐精、献血、代孕类的信息；<br />
                            不允许发布违法或违反<a href="http://bbs.baixing.com/thread-318337-1-1.html" target="_blank">《互联网违禁信息》</a>的信息。
                        </li>
                        <li id="全职招聘不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布网络水军类的信息；<br />
                            不允许发布涉嫌传销的招聘信息；<br />
                            ktv/酒吧类目的信息不得包含上级部门明令禁止的字词；<br />
                            不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息。
                        </li>
                        <li id="全职招聘工作中介"><strong>工作中介</strong><br />
                            不允许“劳务派遣、职业介绍、代理招聘”等以公司直招名义发布信息。<br />
                            如果您是“劳务派遣、职业介绍、代理招聘”，请选择“职业介绍”标签发布。
                        </li>
                        <li id="全职招聘错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            求职信息只能发布到<a href="/qiuzhi/">求职简历</a>类目；<br />
                            金融、银行、保险类公司招聘业务员的信息只能发布到<a href="/baoxian/">金融/银行/保险</a>类目；<br />
                            房产公司招聘业务员类信息只能发布到<a href="/fangdichan/">房产经纪人</a>类目；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="/jiameng/">招商加盟</a>类目；<br />
                            KTV、酒吧、娱乐会所的招聘信息只能发布到<a href="/ktvjiuba/">KTV/酒吧</a>类目。<br />
                        </li>
                        <li id="全职招聘虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 未经允许冒充其他企业招聘；<br />
                            - 招聘职位薪资与市场规律不符；<br />
                            - 被用户投诉收取“服装费、体检费、加盟费、押金、管理费”等；<br />
                            - 发布“手工活制作、刷信誉、网赚、船员、球童、乘务员、空姐、法警、协警、押运员”等相关职位的招聘信息。<br />
                        </li>
                    </ul>
                </div>
                <div id="兼职招聘">
                    <h3 class="glist-title">兼职招聘</h3>
                    <ul>
                        <li id="兼职招聘违法违规"><strong>违法违规</strong><br />
                            不允许发布色情招聘的信息；<br />
                            不允许发布捐精、献血、代孕类的信息；<br />
                            不允许发布违法或违反<a href="http://bbs.baixing.com/thread-318337-1-1.html" target="_blank">《互联网违禁信息》</a>的信息。
                        </li>
                        <li id="兼职招聘不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布涉嫌传销的招聘信息；<br />
                            不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息。
                        </li>
                        <li id="兼职招聘工作中介"><strong>工作中介</strong><br />
                            不允许“劳务派遣、职业介绍、代理招聘”等以公司直招名义发布信息。<br />
                            如果您是“劳务派遣、职业介绍、代理招聘”，请选择“职业介绍”标签发布。</li>
                        <li id="兼职招聘错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            演员招聘类信息只能发布到<a href="/yanyuan/">演员</a>类目；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="/jiameng/">招商加盟</a>类目；<br />
                            KTV、酒吧、娱乐会所的招聘信息只能发布到<a href="/ktvjiuba/">KTV/酒吧</a>类目。<br />
                        </li>
                        <li id="兼职招聘虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 招聘职位薪资与市场规律不符；<br />
                            - 被用户投诉收取“加盟费、押金”等；<br />
                            - 发布“手工活制作、刷信誉、网赚”类招聘信息。<br />
                        </li>
                    </ul>
                </div>
                <div id="生活服务">
                    <h3 class="glist-title">生活服务</h3>
                    <ul>
                        <li id="生活服务违法违规"><strong>违法违规</strong><br />
                            构成违法违规的行为包括：<br />
                            - 提供色情服务；<br />
                            - 发布医疗广告类信息；<br />
                            - 提供“公积金提取、信用卡套现、违规办证”等服务；<br />
                            -违规办理信用卡和贷款业务：各大银行办理、收费办卡等。<br />
                        </li>
                        <li id="生活服务不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布“代挂号、办户口、信息调查、讨债、烟酒回收、卖驾照分、冒充知名搬家公司”类的信息；<br />
                            不允许发布违反《互联网违禁信息》或未经授权冒用英淘网名义的信息。</li>
                        <li id="生活服务营业执照验证"><strong>营业执照验证</strong><br />
                            担保/贷款类目，需要通过营业执照验证以后才能发布信息,请点击查看<strong><a href="http://bbs.baixing.com/viewthread.php?tid=973791&amp;page=1&amp;extra=#pid1422314" target="_blank">《营业执照验证须知》</a></strong>。<br />
                            继续发布，请点击<a class="btn_green" href="http://www.baixing.com/wo/verify/?type=bizniz_license" target="_blank">上传营业执照</a>我们会尽快审核。<br />
                        </li>
                        <li id="生活服务类目发布超限"><strong>类目发布超限</strong><br />
                            每个城市只能留有1条正常信息。<br />
                        </li>
                        <li id="生活服务错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            不允许发布招聘和物品转让的信息；<br />
                            担保贷款类信息只能发布到<a href="/jinrongfuwu/">担保贷款</a>类目；<br />
                            “叉车培训”类信息只能发布到职业技能培训类目<a href="/jinengpeixun/">职业技能培训</a>类目；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="/jiameng/">招商加盟</a>类目；<br />
                            KTV、酒吧、娱乐会所的招聘信息只能发布到<a href="/ktvjiuba/">KTV/酒吧</a>类目。<br />
                        </li>
                        <li id="生活服务虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 发布“手工活制作、网赚”类信息；<br />
                            - 被用户投诉骗取“汇款、押金”等。<br />
                        </li>
                    </ul>
                </div>
                <div id="教育培训">
                    <h3 class="glist-title">教育培训</h3>
                    <ul>
                        <li id="教育培训违法违规"><strong>违法违规</strong><br />
                            不允许发布违规办证类信息。<br />
                        </li>
                    </ul>
                </div>
                <div id="宠物">
                    <h3 class="glist-title">宠物</h3>
                    <ul>
                        <li id="宠物不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许发布买卖国家保护动物的活体或制成品类的信息。
                        </li>
                        <li id="宠物二手商家"><strong>二手商家</strong><br />
                            不允许商家以个人名义发布信息；<br />
                            如果您是“商家”，请选择“商家”标签发布。
                        </li>
                        <li id="宠物类目发布超限"><strong>类目发布超限</strong><br />
                            宠物免费赠送类目，7天内每个城市最多发布1条信息；其他宠物类目每天每个城市最多发布3条信息。<br />
                        </li>
                        <li id="宠物错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            不允许将宠物买卖信息发布到<a href="/chongwulingyang/">宠物免费赠送</a>类目；<br />
                            加盟、招商、代理合作类信息只能发布到<a href="/jiameng/">招商加盟</a>类目。<br />
                        </li>
                        <li id="宠物虚假欺诈"><strong>虚假欺诈</strong><br />
                            构成虚假欺诈的行为包括：<br />
                            - 出售病狗；<br />
                            - 被用户投诉骗取汇款；<br />
                            - 出售宠物的价格与市场规律不符。<br />
                        </li>
                    </ul>
                </div>
                <div id="房屋租售">
                    <h3 class="glist-title">房屋租售</h3>
                    <ul>
                        <li id="房屋租售不适合英淘网"><strong>不适合英淘网</strong><br />
                            不允许注册多个账号发布信息；<br />
                            不允许使用群发器等代发工具发布信息；<br />
                            不允许发布涉及“公积金提取”的信息。
                        </li>
                        <li id="房屋租售房中介冒充个人"><strong>房中介冒充个人</strong><br />
                            不允许“房产经纪人、开发商、二房东”以个人名义发布信息；<br />
                            如果您是“房产经纪人、开发商、二房东”，请选择“经纪人”标签发布。</li>
                        <li id="房屋租售类目发布超限"><strong>类目发布超限</strong><br />
                            中介用户每天每个城市每个类目最多发布10条信息，个人用户最多发布3条信息。<br />
                        </li>
                        <li id="房屋租售错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            新房出售信息只能发布在<a href="/xinfangchushou/">新房出售</a>类目；<br />
                        </li>
                    </ul>
                </div>
                <div id="求职简历">
                    <h3 class="glist-title">求职简历</h3>
                    <ul>
                        <li id="求职简历类目发布超限"><strong>类目发布超限</strong><br />
                            每个城市只能留有1条正常信息。<br />
                        </li>
                        <li id="求职简历错类删除"><strong>错类删除</strong><br />
                            英淘网上的信息是经过分类的，请把信息发布到单个最相关的类目下：<br />
                            不允许将招聘信息发布到求职类目。<br />
                        </li>
                        <li id="求职简历色情低俗"><strong>色情低俗</strong><br />
                            不允许发布涉及色情服务的信息。<br />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p>英淘网客服电话：400-108-9159（我们的工作时间是周一至周日9点至18点）</p>

        <script type="text/javascript">
            window.onload = function () {
                var start = window.location.href.indexOf("#");
                if (start != -1) {
                    order = window.location.href.substring(start + 1);
                    document.getElementById(order).style.backgroundColor = "#ffff00";
                }
            }
        </script>
    </div>
</div>

