@{
    ViewBag.Title = "英淘网禁止发布内容";
}

<div class="grid_24">
    <h1 class="typo-h1">禁止发布的内容</h1>
    <div class="typo">
1. 反对宪法所确定的基本原则的；<br />
2. 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br />
3. 散布谣言，扰乱社会秩序，破坏社会稳定的；例如：种族或者宗教歧视或其他法律禁止内容的出版物、文件、资料等；<br />
4. 散布淫秽、色情信息，含有性生活、性暗示等低俗内容的违法医疗、药品、保健食品、消毒产品以及性仿真器械，性服务等；<br />
5. 侮辱或者诽谤他人，侵害他人合法权益的；<br />
6. 毒品和吸毒器械； <br />
7.禁止发布套牌车、走私车、克隆车和出租车计价器等信息用于非法活动；<br />
8. 任何形式的枪支、弹药及相关器材，如枪械、枪械仿制品（如仿真枪）、子（炮）弹、消音器、注射枪等以及相关产品如说明书，包装盒等；<br />
9. 管制刀具，如匕首、三棱刀（包括机械加工用的三棱刮刀）、带有自锁装置的弹簧刀（跳刀）以及其他类似的单刃、双刃、三棱尖刀；<br />
10. 警用和军用物品、设备，如监视、监听类设备、警服、警徽、手铐、警灯、警笛、警用器械等；其他武器，如弓弩,钢珠,铅珠等；<br />
11. 其它可能危害他人安全或利益或用于违法目的的物品，如撬锁设备、强效催情用品、药品、解密软件、导弹发射程式、
个人私密资料，汽车反雷达测速仪，电子狗，报警器，汽车隐性喷雾等；<br />
12. 股票、公司债券及其他证券，不具有效性和流通性的为收藏目的转让的情况除外；<br />
13. 彩票，不具有效性和流通性的为收藏目的转让的情况除外；<br />
14. 任何形式的政府文件，如身份证，档案，各类许可证、介绍信、学历证书等；<br />
15. 伪造、变造的物品，如伪造的证件、票据、钱币、执照和许可证等；<br />
16. 人体器官、遗体；<br />
17. 易燃、易爆物品、有毒、有腐蚀性的化学物品，如烟花、爆竹等；<br />
18. 需执照或政府许可才能使用的设备，如广播发射台，碟型人造卫星天线；<br />
19. 赌具，如透视麻将，透视扑克等；<br />
20. 酒类、香烟等烟制品，香烟形式出现的烟盒烟标等；<br />
21. 流通各国货币，任何人不得出售或购买正在流通的各国货币；<br />
22. 对于可流通的外币，仅可为收藏目的少量购买，但不得从事或者变相从事外币兑换或交易；<br />
23. 药品，包括非处方药；医疗器材（械）； 医生提供上门微整形服务和提供注射咬肌瘦脸针和瘦腿瘦手臂针、美白针等服务；<br />       
 24. 无注册号的磁带或光盘，共享软件；Beta级或未公布的软件；未同设备捆绑出售的OEM软件；<br />
25. E-mail地址等商业资料列表;<br />
26. 非法所得之物，如走私、盗窃或抢劫所得；<br />
27. 野生动物、国家保护类动物、濒危动物活体、内脏、任何肢体、皮毛、标本或其他制成品象牙和玳瑁类制品；<br />
28. 被列入国家保护类植物清单的、法律禁止不得销售的植物，或植物产品；<br />
29. 没有取得《医疗广告审查证明》的医疗、医院广告；<br />
30. 其它国家规定的禁售商品与信息，例如成人用品、网赚加盟、招商合作、代理、创业、传销、贷款等信息。<br />
31.禁止出售信用卡和出售银行卡、各大银行的透支卡、代办各大银行信用卡白金卡类信息；各大银行信用卡办理3-5天下卡的等信息。<br />
32.禁止发无前期费用下卡收费办信用卡信息、收费办信用卡类信息、只凭身份证就可以贷超过1W元以上的贷款类信息、办理各大银行贷款服务信息。<br />
33. 各类咨询企业以及其他非金融性企业不得发布类似借贷、结算、见证等金融业务广告，也不得发布含有“金融咨询”、
    “贷款咨询”、“借款咨询”、“信用卡提现咨询”等涉及金融咨询、借贷咨询内容的广告，
    </div>
</div>