@{
    ViewBag.Title = "英淘网物品交易安全须知";
}

<div class="grid_24">

    <h1 class="typo-h1">物品交易安全须知</h1>
    <div class="typo">
        只进行面对面交易，一手交钱、一手交货！永远不要相信汇款、转账、支付宝等非见面的交易方式！这样就可以避免99%的网络骗子。 除此还可以注意以下几点： o不要相信任何通过快递中介或托管服务来买卖物品的交易方式 o英淘网不会参与任何用户之间的交易，不要相信任何以“英淘网”名义与您联系进行金钱往来的行为 o单身女性交易时可以找朋友一起，不要单身行动 o在百度搜一下对方的联系方式，仔细检查对方是否有啥不良记录 o绝不要给对方身份证复印件、信用卡及银行账号等敏感信息 o见面地点尽量选择双方都熟悉的地方，避免去不熟悉的地方 o紧紧捂住钱包，没看好东西以前绝对不付钱。 最后，在发现有问题信息的时候，请马上点击信息上的举报按钮进行举报。
    </div>
</div>
