<div class="grid_6 omega" style="float: right;">
    <div class="grid_6 alpha omega height_30"
        style="background-color: #800000; color: white; font-size: 14px; text-align: left; height: 29px; line-height: 29px;">
        &nbsp;&nbsp;&nbsp;&nbsp;物品分类
    </div>
    <div class="clear"></div>
    <div class="right_nav_category">
        <div class="fix_ie6_rit_border" id="fix_ie6_brders"></div>
        <ul style="margin-left: 0px;" class="inners_r_list_con" id="Right_Alert_Nav_List">


            <li class="nav_row_con_cus">
                <span class="left_ups_white_lines"></span>
                <div class="inners_n_cons">
                    <div class="cat_first_nav_tit">二手汽车</div>
                    <div class="cat_second_nav_tit">
                        <span><a href="/CarTransferSearch/Audi/1" target="_blank">奥迪</a></span>
                        <span><a href="/CarTransferSearch/BMW/1" target="_blank">宝马</a></span>
                        <span><a href="/CarTransferSearch/Buick/1" target="_blank">别克</a></span>
                    </div>
                </div>
                <div class="alert_second_lft_nav_list">
                    <div class="add_white_bgs">
                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">转让</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/CarTransferSearch/Audi/1" target="_blank">奥迪</a></span>
                                <span><a href="/CarTransferSearch/BMW/1" target="_blank">宝马</a></span>
                                <span><a href="/CarTransferSearch/Buick/1" target="_blank">别克</a></span>
                                <span><a href="/CarTransferSearch/Citroen/1" target="_blank">雪铁龙</a></span>
                                <span><a href="/CarTransferSearch/Ford/1" target="_blank">福特</a></span>
                                <span><a href="/CarTransferSearch/Honda/1" target="_blank">本田</a></span>
                                <span><a href="/CarTransferSearch/Toyota/1" target="_blank">丰田</a></span>
                                <span><a href="/CarTransferSearch/Nissan/1" target="_blank">日产</a></span>
                                <span><a href="/CarTransferSearch/MINI/1" target="_blank">MINI</a></span>
                                <span><a href="/CarTransferSearch/MercedesBenz/1" target="_blank">奔驰</a></span>
                                <span><a href="/CarTransferSearch/Peugeot/1" target="_blank">标致</a></span>
                                <span><a href="/CarTransferSearch/VW/1" target="_blank">大众</a></span>
                                <span><a href="/CarTransferSearch/Volvo/1" target="_blank">沃尔沃</a></span>
                                <span><a href="/CarTransferSearch/SecondHandCarOther/1" target="_blank">其他品牌</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="in_inners_rows">
                            <div class="alert_list_second_nav">
                                <a href="#">求购</a>
                            </div>
                            <div class="alert_list_third_nav">
                                <span><a href="/CarBuySearch/Audi/1" target="_blank">奥迪</a></span>
                                <span><a href="/CarBuySearch/BMW/1" target="_blank">宝马</a></span>
                                <span><a href="/CarBuySearch/Buick/1" target="_blank">别克</a></span>
                                <span><a href="/CarBuySearch/Citroen/1" target="_blank">雪铁龙</a></span>
                                <span><a href="/CarBuySearch/Ford/1" target="_blank">福特</a></span>
                                <span><a href="/CarBuySearch/Honda/1" target="_blank">本田</a></span>
                                <span><a href="/CarBuySearch/Toyota/1" target="_blank">丰田</a></span>
                                <span><a href="/CarBuySearch/Nissan/1" target="_blank">日产</a></span>
                                <span><a href="/CarBuySearch/MINI/1" target="_blank">MINI</a></span>
                                <span><a href="/CarBuySearch/MercedesBenz/1" target="_blank">奔驰</a></span>
                                <span><a href="/CarBuySearch/Peugeot/1" target="_blank">标致</a></span>
                                <span><a href="/CarBuySearch/VW/1" target="_blank">大众</a></span>
                                <span><a href="/CarBuySearch/Volvo/1" target="_blank">沃尔沃</a></span>
                                <span><a href="/CarBuySearch/SecondHandCarOther/1" target="_blank">其他品牌</a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
