@model List<Fx.Entity.FxGoods.GoodsTransferInfo>
<div class="search_page_right_ad_wk">
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageUploadCdnDomain("1.jpg")" /></a>
    <a href="#">
        <img src="images/2.jpg" /></a>
    <a href="#">
        <img src="images/3.jpg" /></a>
    <a href="#">
        <img src="images/5.jpg" /></a>
    <a href="#">
        <img src="images/6.jpg" /></a>
    <a href="#">
        <img src="images/7.jpg" /></a>
    <a href="#">
        <img src="images/8.jpg" /></a>
    <a href="#">
        <img src="images/9.jpg" /></a>
    <a href="#">
        <img src="images/11.jpg" /></a>
    <a href="#">
        <img src="images/10.jpg" /></a>
</div>
