@model List<Fx.Entity.FxSite.Channel>
<div class="grid_24">
    &nbsp;
</div>
<div class="grid_24">
    <div class="grid_24">
        &nbsp;
        <input id="flow" type="hidden" value="0" />
        <input id="selectcatindex" type="hidden" value="0" />
    </div>
    <div class="publishborder" style="padding-bottom: 40px; height: 325px;">
        <div class="alpha grid_4 txtright">
            <cite class="red">*</cite><strong>选择类目：</strong>
        </div>
        <div class="grid_4">
            <div id="selectcat" class="selects-cat selects-box selectData boxheight publishborder">
                @foreach (var item in Model)
                {
                    <a href="#">
                        @item.ChannelName
                    </a>
                }
            </div>
        </div>
        <div class="omega grid_15 boxheight">
            <div class="alpha grid_1">
                <div class="grid_1 alpha halfmiddleheight">
                </div>
                <div class="grid_1 alpha">
                    <span class="icon">
                        <img src="/Content/images/arrowhead.gif" />
                    </span>
                </div>
            </div>
            <div id="selectdetail" class="omega grid_14">
                @foreach (var channel in Model)
                {
                    <div class="hide boxheight publishborder">
                        @foreach (var channelList in channel.ChannelLists)
                        {                           
                            @Html.ActionLink(channelList.ChannelListName, channelList.ActionName, channelList.BuyController, channelList.RoutePars, null);
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
