@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShow.cshtml";
}

<div class="grid_24">
    <div class="grid_10 alpha">
        <img src="../../Content/images/goods/goodline1.jpg" />
    </div>
    <div class="grid_4">
        <img src="../../Content/images/goods/goodsline2.jpg" width="150" />
    </div>
    <div class="grid_10 omega">
        <div class="grid_10">
            <div class="grid_5 alpha">
                <img src="../../Content/images/goods/goodsline3.jpg" />
            </div>
            <div class="grid_5 omega">
                <img src="../../Content/images/goods/goodsline4.jpg" />
            </div>
        </div>
        <div class="grid_10">
            <div class="grid_5 alpha">
                <img src="../../Content/images/goods/goodsline5.jpg" />
            </div>
            <div class="grid_5 omega">
                <img src="../../Content/images/goods/goodsline6.jpg" />
            </div>
        </div>
    </div>
</div>



<div class="grid_24">
    <div class="grid_6 alpha">
        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>

        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="grid_6">

        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>

        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="grid_6">
        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>

        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid_6 omega">
        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>

        <div class="grid_6 alpha" style="padding: 15px 0;">
            <div class="ytbg" style="line-height: 4px;">&nbsp;</div>
            <div>
                <div class="bd">
                    <div>
                        <img src="../../Content/images/goods/goods.jpg" width="210" />
                    </div>
                    <div class="txtright" style="background-color: #808080; padding: 3px 0;">
                        联想台式电脑
                    </div>
                    <div style="color: orange; padding: 3px 0;">
                        出售联想台式电脑,3000,速度联系我!!!
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
