@*@model List<Fx.Entity.FxGoods.GoodsTransferInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShow.cshtml";
}*@





<!--ad-->
<div class="grid_24">
    &nbsp;
</div>

<!--置顶-->
<div class="grid_24">
    &nbsp;
</div>



<div class="grid_24">
    @*    @foreach (var goods in Model)
    { 
        <div>
            <div class="grid_2 alpha">
            </div>
            <div class="grid_14">
                <div>
                </div>
                <div>
                </div>
            </div>
            <div class="grid_2 omega">
            </div>
        </div>
    }*@

    <table class="table table-hover">
        <thead>
            <tr>
                <div class="grid_24" style="border-bottom: 1px solid grey;">
                    @Html.ActionLink("转让", "Index", "GoodsTransferShow", new { style = "font-weight:bold;" })
                    | 
                    求购
                </div>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 20; i++)
            {
                <tr>
                    <td>
                        <div>
                            <div class="grid_2 alpha">
                                <img src="../../Content/images/64X64.jpg" />
                            </div>
                            <div class="grid_14" style="padding-left: 20px;">
                                <div style="padding: 5px;">
                                    宏坤精品车行——出售精品轿车商务车越野车
                                </div>
                                <div style="padding: 5px;">
                                    2012年10月上牌 / 已行驶1-10万公里
                                </div>
                            </div>
                            <div class="grid_3">
                                <div style="color: orange; padding: 20px;">5.1万元</div>
                            </div>
                            <div class="grid_4 omega">
                                <div style="padding: 20px;">置顶推广</div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
















